[2017-08-21 18:53] jhamrick commented on #857
This is really, really strange. It sounds like it's successfully adding the student to the database, because you can see the student with `nbgrader db student list` after adding it through the web interface. But then, the web interface doesn't see it? I wonder if this could potentially be a bug in the API code. Could you try running the following code from the command line, in the root of the cour

[2017-08-21 19:53] rdpratti commented on #858
Here is the info:

OS Name:                   Microsoft Windows 10 Home
OS Version:                10.0.14393 N/A Build 14393
Python 3.5.2 :: Anaconda 4.2.0 (64-bit)
C:\Users\Roland_2>jupyter notebook --version
4.2.3

[2017-08-21 22:08] jhamrick commented on #858
I can't test this right now unfortunately, but potentially this could be an issue with the version of the jupyter notebook? Could you try upgrading it to the latest version?

[2017-08-22 20:32] jhamrick commented on #662
Ordo: https://github.com/nbgallery/ordo

[2017-08-24 17:29] jcsutherland commented on #857
Alright. I put your script into `gb.py`.  Here is the result from running it within my class directory:
[code]
Is it possible that generating the assignment may have something to do with the web view being corrupted?

[2017-08-24 18:08] jcsutherland commented on #857
Here is a link to download a [zip file of the course directory](https://drive.google.com/file/d/0B0dXry-dE3MvaTYzTnhNdzJKQ0E/view?usp=sharing).

Thanks for your attentiveness to this!  I am hopeful that several faculty in our department may start using this in the future if we can get it working robustly!

[2017-08-24 19:02] jhamrick commented on #857
Aha! Thanks for sending that. I can now reproduce the bug! 😄 Steps to reproduce:

1. Create an *empty* directory (not with nbgrader quickstart)
2. Add an assignment through the formgrader but do not add any notebooks to it
3. Add a student through the formgrader
4. Refresh the page, and the student will be missing

Now to investigate the fix.

[2017-08-24 19:24] jhamrick commented on #857
Hooray, I figured it out 😄

The underlying issue was that Gradebook.student_dicts() was returning an empty list, even though the students did in fact exist in the database. This is a edgecase that only seems to occur when there are assignments in the database, but they have a combined zero points. A workaround for the issue is to make sure there is at least one assignment with nonzero points. I ha

[2017-08-24 19:34] jcsutherland commented on #857
Hmm - the zip file I passed along had two assignments (generated via the `quickstart` command) which had points associated with various problems in them.

So might there be another issue here?

[2017-08-24 20:14] jhamrick commented on #857
They had points associated with them, but the points weren't in the database yet---if you were to generate the student version of the assignment (which then sets the points in the database), then the students should appear.

[2017-08-24 20:15] jcsutherland commented on #857
Gotcha.  Thanks.
Any idea when the next release of nbgrader will be (which will presumably have these bug fixes in it)?

[2017-08-24 20:40] jhamrick commented on #857
I just made a release (0.5.3) that includes some of the fixes (including #867); it won't include #873 unfortunately, though, which will probably make it into 0.6.0. I was planning to release that after the fall semester.

[2017-08-24 23:43] #857 closed

[2017-08-24 23:48] jhamrick opened #874 "Don't allow submitting of huge files"
@ellisonbg apparently had a student submit a 1TB file which filled up the drive of the server and crashed it. It seems like it would be worthwhile for `nbgrader submit` to check the file size and either exclude files that are very large or at least prompt the user "are you sure?"

[2017-08-24 23:52] ellisonbg commented on #874
+1

On Thu, Aug 24, 2017 at 7:48 PM, Jessica B. Hamrick <
notifications@github.com> wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and GitHub
bgranger@calpoly.edu and ellisonbg@gmail.com

[2017-08-25 00:00] rdpratti commented on #858
I completed these tasks:
- saved my jupyter and nbgrader config files,
- uninstalled Anaconda,
- installed latest Anaconda
- reinstalled nbgrader
- moved config files to .jupyter
- Output from version commands:

Python 3.6.1 :: Anaconda 4.4.0 (64-bit)
C:\>jupyter notebook --version  5.0.0

Unfortunately, formgrader exhibits the same behavior (404) on assignment preview and when you click on the as

[2017-08-25 00:18] jhamrick commented on #858
Hmm, I really am stumped unfortunately, and as I haven't been able to reproduce it that makes it very hard to debug 😞

Can you try starting with the simplest configuration of nbgrader possible (e.g. use `nbgrader quickstart`, with no configuration in `~/.jupyter`) and see if the error still occurs? If it does not, can you try adding in pieces of your current configuration until the error occurs, a

[2017-08-25 00:35] rdpratti commented on #858
Sounds like a logical plan. Will do. Will have something for you in the morning.

[2017-08-25 12:58] rdpratti commented on #858
So here are my actions and results based on our plan. Let me know that this is what you wanted me to do:

1. Here is the target command executed by the Jupyter Window Icon:

C:\Anaconda3\python.exe C:\Anaconda3\cwp.py C:\Anaconda3 "C:/Anaconda3/python.exe" "C:/Anaconda3/Scripts/jupyter-notebook-script.py" %USERPROFILE%

The %USERPROFILE% sets the starting directory as C:\users\Roland_2

2.  In a t

[2017-08-25 13:05] jhamrick commented on #858
So after you created the assignment in the last step, did you find the error still occurred?

[2017-08-25 13:11] rdpratti commented on #858
yup, when I click on the assignment name - the 404 comes back.

[2017-08-25 13:15] jhamrick commented on #858
Can you try this, but try running the jupyter notebook from the command line (from the root of your course directory) rather than launching it via the icon?

[2017-08-25 13:35] rdpratti commented on #858
I just did two tests - on both I ran from the directory created by quickstart for the course:
Both produced the 404 result:

Test a - included the %USERPROFILE% parameter

C:\Users\Roland_2\CSC490>C:\Anaconda3\python.exe C:\Anaconda3\cwp.py C:\Anaconda3 "C:/Anaconda3/python.exe" "C:/Anaconda3/Scripts/jupyter-notebook-script.py" %USERPROFILE%

notebooks pointed to notebook directory C:\usrs\Roland_

[2017-08-25 13:44] jhamrick commented on #858
What browser are you using? Is it a problem in other browsers, too?

Also, is there any javascript console output on the formgrader page (before you click the link that takes you to the 404)? When you run the notebook from the command line, can you paste the log output here?

[2017-08-25 14:08] rdpratti commented on #858
One thing I wanted to clarify to make sure it is not part of the problem. My tests today have been all through the web interface. Besides creating the course through quickstart, I have not completed anything else on the command line or through the db interface. There may not even be a database in existence for this new course. (Although all my previous days tests including creating students and as

[2017-08-25 14:15] jhamrick commented on #858
Thanks for the clarification. Just to clarify one other thing, the 404 is still due to the path being formatted without slashes, like `......JupyterNotebookscoursesCSC343`, and is not just a regular 404?

The existence of the database *shouldn't* be a problem.

[2017-08-25 14:24] rdpratti commented on #858
aaaaah,  here is the url on the 404:  http://localhost:8888/tree/source/ps1

so it may not be the slashes anymore?

The course directory is C:\users\Roland_2\CSC490 and the source/ps1 directory exists.

It is something overriding what /tree defaults to..... ?

I noticed I have this line commented out in my jupyter_config:

## The default URL to redirect to from `/`
#c.NotebookApp.default_url = '/t

[2017-08-25 14:32] jhamrick commented on #858
Can you paste the terminal output (from `jupyter notebook`) when you navigate to http://localhost:8888/tree/source/ps1 ?

[2017-08-25 14:40] rdpratti commented on #858
This is what i did:
I entered 'jupyter notebook' from the command line to bring up jupyter.
In the url line I entered: http://localhost:8888/tree/source/ps1
I received a 404.

Here is the terminal output:
C:\Users\Roland_2\CSC490>jupyter notebook
[I 10:37:49.647 NotebookApp] Loading the formgrader nbgrader serverextension
[I 10:37:49.678 NotebookApp] Loading the validate_assignment nbgrader server

[2017-08-25 14:53] jhamrick commented on #858
And the directory `source/ps1` definitely exists? What files do you see when you look at the regular notebook list (not through the formgrader)? Can you navigate to `source/ps1` there?

[2017-08-25 15:28] rdpratti commented on #858
ok,  think I am starting to see the pattern.

Pattern A:

Running from the command line via 'jupyter notebook'  reports the 404.
The url = http://localhost:8888/tree/source/ps1
The problem is tree = C:\users\Roland_2
The course folder = C:\users\Roland_2\CSC490
The assignment folder = C:\users\Roland_2\CSC490\source\ps1
The CSC490 folder is missing from the path. (when I add it to the url in formg

[2017-08-25 15:37] jhamrick commented on #858
Ah, ok. For Pattern A, you need to run the notebook from the course directory itself (so "tree" should be the same as the course folder) or configure `c.CourseDirectory.root`. There was a bug with setting the config option, but it was fixed (see #855) and if you update nbgrader to 0.5.3 (released yesterday) it should be fixed.

For Pattern B, this sounds like it might be related to how anaconda ru

[2017-08-25 15:44] rdpratti commented on #858
Jess,  I appreciate your effort today and over the last few weeks. Good luck with your move! I will do some more playing with it over the next couple of weeks. And will post my notes here. No need for you to rely with everything else you will be dealing with.

Thanks again and take care.

FYI - I changed the jupyter 'notebook directory' in the config to be the same as the course and it works fine.

[2017-08-25 15:54] jhamrick commented on #858
No problem, I am glad we were able to make some headway on this at least 😄 Sorry that it's been so difficult to debug!

Definitely if you find anything interesting, leave notes about it here, and hopefully we can get it sorted out! Also, I forgot to mention, that I'll be traveling (starting on Monday) for the next six weeks and I won't be able to reply then. But if when I get back you've figured s

[2017-08-26 14:26] aliandra opened #875 "License"
Rename COPYING.md to LICENSE and update license.

[2017-08-27 07:05] nabriis opened #878 "Enforce uneditable test cells"
Hi,

I am wondering if there is a way to enforce a test cell to be uneditable by the student. Sometimes they accidentally change the test cells and the validation fails.

Or maybe a way to restore the test cells to their original state?

Edit: Seems it is the cell type that can be changed, not the actual content of the cell

[2017-08-28 20:08] ElectricGizmo commented on #427
I do have the same "Timeout waiting for IOPub output" when rendering to html using nbconvert.
It appears that it is simply due to the processing in the script I invoke to be too long - when running the notebook interactively (i.e. in Jupyter) it does take time but it performs as expected.

Is there a simple way to extend the timeout?
Thanks

[2017-08-28 21:57] randy3k opened #879 "notebooks should be validated at their directories"
It seems that notebooks are validated with `$HOME` being the working directory. Any tests which require reading a relative file, e.g., opening a dataset, will be failed by this behavior.

I have a simple notebook with one Autograder test

[code]
![screen shot 2017-08-28 at 5 53 04 pm](https://user-images.githubusercontent.com/1690993/29795327-c319f1e8-8c19-11e7-9932-5a44a3d22706.png)

It throws th

[2017-08-29 23:39] kthyng opened #881 "Using nbgrader and jupyterhub for multiple classes"
I am under the impression that I need to edit the jupyterhub_config.py file in order to use nbgrader in multiple classes at once. I can't figure out how to do this. I see wordage in the jupyterhub_config.py itself, like:

List of service specification dictionaries.

  A service

  For instance::

      services = [
          {
              'name': 'cull_idle',
              'command': ['/path/to/

[2017-08-30 14:45] lgpage commented on #878
@nabriis with the newer version of Notebook a test cell does in a sense become locked so that it is not accidentally edited or deleted.

With regards to a student changing the cell type (e.g. from a code cell to markdown cell), I do not think it is possible to restrict this. It may however be possible to give better feedback from the validation for this scenario.

[2017-08-30 15:57] yao2001626 commented on #881
Edit this file:`~/.jupyter/nbgrader_config.py`
add the following lines
[code]

[2017-08-30 16:15] kthyng commented on #881
Ah, thank you for that. I wasn't clear when I wrote this. I got that part done, but I need to be able to use formgrader for both classes too. Jess has said that to do this I need to run multiple instances of the formgrader (via multiple single user server services). This part I cannot figure out.

[2017-08-30 22:21] yao2001626 commented on #881
If you need multiple courses, why don't you create a different user account for each course.
For example,
User one creates the first course and the user two creates the second course. Then, modify the .jupyter/nbgrader_config.py to link to the courses, respectively.

As far as I know, jupyterhub service can be used for multiple graders for one course, rather than one grader to multiple courses.

[2017-08-31 13:44] rameshjesswani opened #882 "formgrader page not found"
I have installed jupyter nbgrader by following steps from this link:

http://nbgrader.readthedocs.io/en/stable/user_guide/installation.html

After installation when I try to click on formgrader I get

error: 404 : Not Found You are requesting a page that does not exist!

Can anyone help me, how can i access this page?

[2017-08-31 17:54] kthyng commented on #881
That is a good point. Ok, that is what I have done. New user account on the system which controls the second class. This is a reasonable workaround for now.

[2017-08-31 19:56] dsblank opened #883 "Older assignments fail validation in new nbgrader"
Attempting to use an assignment (from a few months ago), it fails validation because it is lacking:

[code]

in the JSON for each grading cell. Manually adding that appears to make nbgrader happy. Why can't the system just add that by default?

[2017-08-31 20:25] dsblank opened #884 "Formgrader as a service limitiations"
It appears that if I change something in nbgrader_config.py, the formgrader is not aware of the changes until I stop and restart my server.

For example, validating an assignment told me that I needed to change c.ClearSolutions.code_stub. I did. But the formgrader did not know until I restarted the service.

A better design might be:

1. allow editing config settings from the formgrader itself
2.

[2017-08-31 20:33] dsblank commented on #884
Re-reading the nbgrader_config.py files (and rebuilding gui) would solve a few issues. But it would need to:

1. read the root nbgrader_config.py file to see which c.CourseDirectory.root to use
2. re-read c.CourseDirectory.root/nbgrader_config.py file

[2017-09-01 05:05] mlmcitdesk opened #885 "Release 0.6.0 or a patch release 0.5.4"
@jhamrick Please update the conda-forge nbgrader to have latest 0.6.0 fixes. Thanks

[2017-09-01 11:59] lgpage opened #887 "Tests failing due to kernelspec validation on autograding"
See #880 and https://travis-ci.org/jupyter/nbgrader/builds/270643170

[2017-09-01 12:26] lgpage commented on #885
@mlmcitdesk unfortunately you will have to be patient for the next release.
In the mean time if you need the latest version of `nbgrader` you can install the master version using pip:
[code]
And follow the install instructions in the documentation for installing and enabling the extensions (http://nbgrader.readthedocs.io/en/stable/user_guide/installation.html)

[2017-09-01 12:33] lgpage commented on #884
Related to #798

[2017-09-01 12:35] lgpage commented on #882
@rameshjesswani can you provide output from the terminal?

[2017-09-01 12:37] lgpage commented on #883
@dsblank does the update command also fail?
[code]

[2017-09-01 12:41] dsblank commented on #883
I didn't know about that at the time. But I think that that is orthogonal to the question: why not fix it (or at least suggest that the user run "update") rather than raising an exception?

[2017-09-01 13:05] lgpage commented on #883
I agree, was just curious.

[2017-09-01 13:30] #887 closed

[2017-09-01 14:19] dsblank commented on #883
I did run `nbgrader update` on a similar notebook, and it reported that it was "Updating metadata for notebook". Upon inspection, it appears that it did add the schema_version to cell metadata. So, all is working as designed, it's just that the design could allow for auto-updating.

[2017-09-01 14:23] dsblank commented on #881
Interesting workaround. I copy and paste boilerplate text between classes, so this would not be very convenient for me. If there was a "reload nbgrader_config.py files" refresh button that also regenerated the GUI, that would solve this issue, too. (Especially if you could change c.CourseDirectory.root from formgrader too).

[2017-09-01 14:31] lgpage commented on #858
@rdpratti I would also recommend always starting Notebook (from the course directory itself) from the [command prompt](https://youtu.be/esKiryoBJBI?t=104) or by using [this](https://www.youtube.com/watch?v=JId0f7URtOQ) trick. In these example I recommend using `jupyter-notebook` (with a dash) instead of `jupyter notebook` (with a space) as I have found a difference in behaviour for different Windo

[2017-09-01 14:37] lgpage commented on #883
I also get the same behaviour (validation failure) from create an assignment from a completely new Notebook and then trying to assign it. An "auto-updating" work flow would be better.

[2017-09-01 23:02] #654 closed

[2017-09-02 10:50] rameshjesswani commented on #882
@lgpage  thanks for your time

Here it shows that formgrader is enabled:

![nbextension_list](https://user-images.githubusercontent.com/25647309/29994959-1e90173e-8fdd-11e7-8dfa-dd28617be84e.png)

Now this is how my jupyter notebook looks like:

![jupyter_notebook](https://user-images.githubusercontent.com/25647309/29994961-3b7de51a-8fdd-11e7-95ea-8df0a9d7d248.png)

When I click on formgrader tab:

[2017-09-02 14:48] rameshjesswani commented on #882
Issue resolved, I was making some mistakes during installation.

Thanks

[2017-09-02 14:48] #882 closed

[2017-09-10 13:56] reckoner opened #889 "Get nbgrader via jupyterhub to respect directory structure?"
### Operating system

Ubuntu 16

### `nbgrader --version`

nbgrader version 0.5.3

### `jupyterhub --version` (if used with JupyterHub)

0.7.2

### Notebook - Help, About version info

5.0.0

### Expected behavior

I carefully followed the directory structure plan. I am able to get jupyterhub to spawn notebooks for the instructor and the students. That works great. The problem is that nbgrader see

[2017-09-12 16:16] ncclementi opened #890 "Not importing emails when Importing students from .csv"
### Operating system
`Ubuntu 16.04`

### `nbgrader --version`

`nbgrader version 0.5.2`

### Expected behavior

I'm creating the students database from a `csv` file.  My csv files has:
`id,last_name,first_name,email` so I expect when I do `nbgrader db student list` to have all the fields
for each student.

### Actual behavior

For some reason the field corresponding to email it's not being import.

[2017-09-14 10:16] lgpage commented on #882
@rameshjesswani I am glad you were able to sort this out.

[2017-09-14 10:50] lgpage commented on #890
@ncclementi that is very strange. I also can't recreate this behaviour.

[code]

The only thing I can think that would cause this behaviour is if the `email` heading is misspelled or if there are spaces in the heading row, for example (note the space before `email`):
[code]

I think spaces in general (before or after the comma) could lead to unexpected behaviour.

[2017-09-14 10:56] lgpage commented on #890
We should in any case display a warning if the heading key is wrong to give better feedback to the user (https://github.com/jupyter/nbgrader/blob/master/nbgrader/apps/dbapp.py#L152)

[2017-09-14 14:03] ncclementi commented on #890
@lgpage Double checking my `.csv` I don't have spaces before but there is on afterwards. Not sure if that is the problem. I can't test it right know since that would implied messing up with the data base  I'm already using, but I'll try in a different computer and report what happens.

[2017-09-14 16:08] lgpage commented on #889
@reckoner you can set the path in the `~/.jupyter/nbgrader_config.py` file:
[code]

[2017-09-14 16:30] #879 closed

[2017-09-14 19:45] ixjlyons commented on #890
Can confirm that whitespace after a header item in the CSV will cause the silent failure (check by adding a space after `first_name` on [this line](https://github.com/jupyter/nbgrader/blob/cc8a93847e704cf2057dc9c890a9b2f4cce8c5d7/nbgrader/tests/apps/test_nbgrader_db.py#L129)). @ncclementi is the trailing space you're referring to in the `email` header cell? If so, it looks like that's what's going

[2017-09-14 20:01] ncclementi commented on #890
@ixjlyons Yes, I was referring to that trailing space, well at least we know why!. Thanks

[2017-09-15 10:48] misolietavec opened #891 "Directory issue in "Validate" if notebook_dir is not home directory"
### Operating system
Debian/stretch
### `nbgrader --version`
0.6.0.dev0 (github version with PR #880 merged)
### `jupyterhub --version` (used with JupyterHub)
0.8.0b5
### Notebook version info
5.1.0
### Expected behavior
Successful or unsuccesful validation of notebook instead of error message
### Actual behavior
Teachers and students have notebooks not in home directory, but in $HOME/notebooks. T

[2017-09-15 14:03] lgpage commented on #891
Let me first say that I have only just started messing around with JupyterHub, but from my understanding all formgrader-related activities need to be aware of the path to the course root directory. When [using formgrader with Jupyterhub](http://nbgrader.readthedocs.io/en/stable/configuration/jupyterhub_config.html) the path to the course root directory is set in the `~/.jupyter/nbgrader_config.py`

[2017-09-15 14:27] lgpage commented on #890
Good point. It should still be possible to do a single warning (or debug) log of incorrect/extra keys that were ignored at the end of importing the data.

[2017-09-15 15:27] misolietavec commented on #891
@lgpage  Yes, my `nbgrader_config.py` is in `~/.jupyter` and has exactly the content you mentioned (with one more line for `c.Exchange.course_id` added).

I think, @jhamrick can have some ideas about the cause of this issue. I am only nbgrader user, reporting issues I really met in my practice.

[2017-09-17 14:48] randy3k commented on #891
Changing this [line](https://github.com/jupyter/nbgrader/blob/cc8a93847e704cf2057dc9c890a9b2f4cce8c5d7/nbgrader/server_extensions/validate_assignment/handlers.py#L44)
to
[code]

should fix the issue. I guess...

[2017-09-17 16:03] misolietavec commented on #891
@randy3k: This change fixed the issue for me. Thanks, maybe you can now make PR? With some explanation, how you come to the above idea about getting notebook_dir :-)

[2017-09-17 16:20] randy3k commented on #891
I don't actually know if it is the recommended way to get notebook directory, but it works. @lgpage or @jhamrick should know better.

[2017-09-17 18:25] zonca commented on #544
I implemented this in the Assignment List extension in #893, however I don't know how to do this for command line utilities like `nbgrader list`.

@minrk We need for example to have the `nbgrader list` command ran by a student in their single user notebook environment to access the Jupyterhub APIs to get the Jupyterhub groups of the authenticated user. Is there a way to do this?

[2017-09-18 10:00] minrk commented on #544
@zonca you can `GET <hub-host>/hub/api/users/:username` to get the user model, which will include their group membership. If you use the JUPYTERHUB_API_TOKEN env variable, you will be able to access this field for the current user.

[2017-09-18 10:03] zonca commented on #544
Thanks @minrk! I tried to check the environment with `env` in a Jupyter
terminal on a local spawner with 0.7.2 but didn't see that variable
defined. Is there another way to access it?

On Mon, Sep 18, 2017, 12:00 Min RK <notifications@github.com> wrote:

[2017-09-18 10:38] minrk commented on #544
Ah, it's hidden from kernel processes on JupyterHub 0.7, but available on 0.8.

[2017-09-18 10:39] zonca commented on #544
It's a good time to update then, thanks!

On Mon, Sep 18, 2017, 12:38 Min RK <notifications@github.com> wrote:

[2017-09-24 20:29] johnhw opened #894 "nbgrader validation fails accessing external files"
### Operating system
Windows 10 64 bit

### `nbgrader --version`

### `jupyterhub --version` (if used with JupyterHub)
N/A

### Notebook - Help, About version info

### Expected behavior
An exercise notebook reads an external file (e.g. data/data.txt) and autograding tests depend on reading this file. I edit the `source/` version before distributing.   All tests pass when running the notebook with

[2017-09-25 13:26] johnhw commented on #894
I have fixed this (apparently) by adding a `chdir()` context manager (copied from `handlers.py`) around the `Validator.validate()` method of `validate.py`, so that it reads:

    def validate(self, filename):
            self.log.info("Validating '{}'".format(os.path.abspath(filename)))
            with chdir(os.path.dirname(filename)):
                 nb = self._preprocess(os.path.basename(filen

[2017-09-29 01:45] flareau commented on #894
Do you have the same bug when autograding as well?

[2017-09-29 07:51] johnhw commented on #894
No, I don't have this problem with autograding. Access to external files works correctly in that case, using the same test exercise that fails validation. It's just validation which seems to break.

[2017-09-29 11:41] flareau commented on #894
Validating from the command line worked without a glitch for me, while it failed as you described with the web interface.

[2017-09-30 10:26] johnhw commented on #894
`nbgrader validate <notebook_path>` will fail for me unless run in the directory where the notebook is present.

         nbgrader validate lab.ipynb       # works
         nbgbrader validate source/lab1/lab.ipynb   # does not work, for the same reason as above

The fix I posted above also resolves this problem.

[2017-10-01 11:59] johnhw commented on #894
If there are no reasons why this might break expected validation behaviour, I'll make a PR to fix the problem.

[2017-10-01 12:05] johnhw commented on #894
This was fixed in #880

[2017-10-01 12:05] #894 closed

[2017-10-18 19:02] jhamrick commented on #878
[Catching up on issues and PRs as I've been away for the last two months]

@lgpage is correct that even if the cell is marked as uneditable, it still appears possible to change the cell type (this is probably actually a bug in the notebook). However, I think even if the student changes the cell type, it should be changed back to the original cell type when `nbgrader autograde` is run. But this is

[2017-10-18 19:03] jhamrick commented on #885
0.6.0 won't be released until the semester is over, but it might be possible to make another patch release.

[2017-10-18 19:08] jhamrick commented on #798
Duplicate of #884

[2017-10-18 19:08] #798 closed

[2017-10-18 19:13] jhamrick commented on #881
[Catching up on issues and PRs as I've been away for the last two months]

Apologies that it is so confusing getting multiple classes to work---I will try to write up some more comprehensive documentation on the various ways that people might want to use the formgrader (without JupyterHub, different root directories, with JupyterHub, multiple classes, etc.)

[2017-10-18 19:22] jhamrick commented on #883
[Catching up on issues and PRs as I've been away for the last two months]

@dsblank The error message should include instructions to run nbgrader update, e.g. I see:

[code]

Did you see a different error? If so, I'd definitely like to update it so that it reports that `nbgrader update` should be used. If not, would it be helpful to make the error a bit more verbose? For example, something along t

[2017-10-18 19:24] jhamrick commented on #662
zesje: https://gitlab.kwant-project.org/zesje/zesje

[2017-10-18 19:40] jhamrick commented on #889
@reckoner Did setting the config option like @lgpage suggested help?

Apologies that it is so confusing getting the formgrader to work with JupyterHub in a different root directory---I will try to write up some more comprehensive documentation on the various ways that people might want to use the formgrader (without JupyterHub, different root directories, with JupyterHub, multiple classes, etc.)

[2017-10-18 19:50] jhamrick commented on #890
Yeah, I think it should be not too bad to detect all the extra keys and give one log message. We can definitely also strip whitespace; that seems like a reasonable thing to do.

[2017-10-18 20:03] jhamrick commented on #891
[Catching up on issues and PRs as I've been away for the last two months]

Great, thanks for reporting @misolietavec and thanks for figuring out the fix, @randy3k ! Hopefully there aren't too many more of these edge cases...

I am not totally sure if getting the notebook directory in that way is the best way to do it; looks like it will involve probably some code diving into the notebook code... b

[2017-10-18 20:23] jhamrick commented on #662
Jupyter in the Classroom: https://github.com/lucentdan/JupyterInTheClassroom

[2017-10-18 23:17] mpacer commented on #890
Cleanest way to solve this for both importing students and importing assignments was to create a generic superclass.

That superclass requires you to specify the sqlalchemy class from the `api` module that it updates as one of its attributes.
For `DbStudentImportApp`, that is `Student`.
For `DbAssignmentImportApp`, that is `Assignment`.

This also involves specifying the method used for the update

[2017-10-19 00:35] jhamrick commented on #808
@mpacer this is something you could probably do now too, now that you figured out how to get the column names!

[2017-10-19 16:18] #891 closed

[2017-10-20 23:18] #890 closed

[2017-10-21 01:06] mpacer opened #901 "Add bumpversion for easier version bumping"
[bumpversion](https://github.com/peritus/bumpversion) is a python library that allows you to automatically change the version number of a package in all the places that it needs to be changed using a simple CLI.

This would make updating version numbers for releases substantially easier.

General steps:

- [ ] add bumpversion as dependency
- [ ] Identify all places in code where version bumps woul

[2017-10-23 11:50] consideRatio opened #902 "The header file is not åäö-friendly"
### Operating system
Windows 10

### `nbgrader --version`
0.5.3

### `jupyter --version`
4.3.0

### Expected behavior
Generation of student notebooks should concatenate the content of the header file with the notebook without any issues with special letters such as å ä and ö.

### Actual behavior
The student versions's header gets its å ä and ö characters misrepresented.

### Steps to reproduce th

[2017-10-25 14:37] 51cde5bd8c opened #903 "Feedback from formgrader interface"
nbgrader has [feedback](https://nbgrader.readthedocs.io/en/stable/user_guide/creating_and_grading_assignments.html#feedback-on-assignments) mechanism which only work from terminal. It would be great to have feedback available from formgrader.

[2017-10-25 18:45] jhamrick commented on #903
Thanks for opening this issue! We're already tracking this though in #795 so I am going to close this as a duplicate.

[2017-10-25 18:45] #903 closed

[2017-10-25 18:47] #808 closed

[2017-10-26 19:32] bbhopesh opened #904 "Deprecate or better document db_students and db_assignments"
### Operating system
Fedora 26
### `nbgrader --version`
Python version 3.6.2 |Anaconda, Inc.| (default, Oct  4 2017, 19:36:51)
[GCC 7.2.0]
nbgrader version 0.5.3
### `jupyter notebook --version`
5.0.0
### Issue
I assume that once I start Jupyter notebook and it loads `nbgrader_config.py`, it will make appropriate changes to database as specified in the configuration file. It is reading some of the

[2017-10-26 19:33] bbhopesh commented on #904
@jhamrick I am not sure if you'd get notified without the mention :)

Thanks in advance.

[2017-10-27 10:01] jhamrick commented on #904
Yes, nbgrader will only add the students from `db_students` when `nbgrader autograde` is run---if you want to add students before then, I recommend doing so through the formgrader interface or by using `nbgrader db student add`.

I agree this is counterintuitive, and wonder if we should really just deprecate `db_students` and `db_assignments`. At the very least, it should be documented better that

[2017-10-27 15:42] bbhopesh commented on #904
Thank you :)

[2017-10-27 15:50] bbhopesh commented on #659
Is someone working on this? I'd like to contribute if another person is needed for this task or some part of it.

[2017-10-28 10:28] jhamrick commented on #659
@minrk would be the person to ask to see what the current status of HubShare is. All the development for that will happen at https://github.com/jupyterhub/hubshare so that is a good repo to subscribe to if you're interested in contributing to it!

[2017-10-28 10:44] jhamrick commented on #902
Hmm, I am unfortunately not able to reproduce it. Could you send me copies of notebooks that lead to this bug happening? Additionally, could you give me the output of:

[code]

and

[code]

Thanks!

[2017-10-28 10:46] jhamrick commented on #902
Also, if you could send me a copy of the notebook that isn't formatted correctly, that would be helpful, too!

[2017-10-28 10:47] jhamrick commented on #885
Closed by #896

[2017-10-28 10:47] #885 closed

[2017-10-28 10:52] #881 closed

[2017-10-28 15:00] consideRatio commented on #902
@jhamrick thanks for looking into the issue!

I tried to reproduce it myself on a Ubuntu computer without success, then I used a windows 10 computer with exactly the same versions of jupyter, jupyter notebook, nbgrader, nbconvert, python and conda, and was able to reproduce it!

https://github.com/consideRatio/nbgrader-issues

![image](https://user-images.githubusercontent.com/3837114/32135552-6a2

[2017-10-28 19:13] jhamrick commented on #902
Hmm, this sounds like it might be a windows issue, then. I unfortunately don't currently have access to a windows machine to test this (and won't for probably at least another month---I just moved to the UK and my windows machine is still in a shipping container somewhere)... @lgpage would you be able to see if you can reproduce the bug on windows?

@consideRatio if you're able to do a bit more in

[2017-10-29 12:14] jhamrick commented on #878
I have opened https://github.com/jupyter/notebook/issues/2992 and https://github.com/jupyter/notebook/pull/2993 on the notebook repo to fix the underlying issue of allowing cell types to change even if they are marked as uneditable. In the meantime, I am also working on a fix in nbgrader itself to report validation errors better.

[2017-10-29 17:39] jhamrick opened #907 "Correctly handle changes to cell types when creating assignments"
It is currently possible to change the type of a cell that is already marked as a special nbgrader cell, which will subsequently cause validation to fail. For example, if a code cell marked as an answer cell is changed to markdown, then validation will fail because the markdown answer cells should also be marked as grade cells. This should be handled more gracefully in the create assignment UI.

[2017-10-29 19:41] jhamrick commented on #902
Closed by #906

[2017-10-29 19:41] #902 closed

[2017-10-29 20:04] #878 closed

[2017-10-29 21:14] jhamrick commented on #883
Ok, regarding the original issue, I've tried to make error messages about the schema version a bit friendlier in #908 and #909. For example, the create assignment extension will give a pop-up message if the schema version is old:

![image](https://user-images.githubusercontent.com/83444/32148234-b0af7336-bceb-11e7-8191-4a2ea6f15e1a.png)

Running the validate command (either through the browser or

[2017-10-30 09:45] dudu84 commented on #818
Hi! Can I take this one?

[2017-10-30 10:26] jhamrick commented on #818
Go for it!

On Mon, Oct 30, 2017 at 9:45 AM Luiz Eduardo de Christo <
notifications@github.com> wrote:

[2017-11-02 07:37] Daizhengming opened #910 "students can not fetch the assignment"
### Operating system

### `nbgrader --0.5.3`

### `jupyterhub --0.8` (if used with JupyterHub)

### Steps to reproduce the behavior
Hello, I recently encountered some problems using nbgrader and jupyterhub. After the release of my assignment, the first student can fetch the assignment, but other students can not fetch the assignment.
And, only the first student can use the assignment.

thanks

[2017-11-02 09:31] #910 closed

[2017-11-03 18:30] dudu84 commented on #818
Hi Jessica!

One question so far: As I can't simply check if the directory is not empty,
where can I get the list of files that it will be created?
I need ti know them, right? This way I can compare with the existing ones.
Thanks!

2017-10-30 11:26 GMT+01:00 Jessica B. Hamrick <notifications@github.com>:

[2017-11-11 11:03] jhamrick commented on #818
Hmm, good point. There isn't anywhere that lists the files that will be created before creating them, but you can look in `nbgrader/apps/quickstartapp.py` to see what is created by inspecting the code. At a quick glance it looks like it creates:

* A directory called `source` containing the contents of `nbgrader/docs/source/user_guide/source`
* `nbgrader_config.py`

Since it really only creates th

[2017-11-20 20:30] jzf2101 commented on #862
@fenwickipedia also might be something to consider

[2017-11-20 21:03] fenwickipedia commented on #862
Okay this looks good, I'm working on it. Thanks!

[2017-11-21 11:29] qlurkin opened #912 "Can't autograde students with backslash in their ID"
### Operating system
Ubuntu 16.04.3

### `nbgrader --version`
Python version 3.6.3 |Anaconda custom (64-bit)| (default, Oct 13 2017, 12:02:49)
[GCC 7.2.0]
nbgrader version 0.5.4

### `jupyterhub --version` (if used with JupyterHub)
0.8.1

### `jupyter notebook --version`
5.2.1

### Expected behavior
The Autograde button of a submission in the "Manage Submissions" page should work even if the stude

[2017-11-21 14:02] makhalin opened #913 "Autograde runs manually graded answers"
### Operating system
Ubuntu 16.04.3 LTS

### `nbgrader --version`
Python version 3.6.2 | packaged by conda-forge | (default, Jul 23 2017, 22:59:30)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)]
nbgrader version 0.5.3

### `jupyterhub --version` (if used with JupyterHub)
0.7.2

### `jupyter notebook --version`
5.0.0

### Expected behavior
`nbgrader autograde` doesn't run "Manually graded answer"

### Act

[2017-11-27 21:53] chapmanbe opened #915 "nbgrader autograde raising KeyboardInterrupt"
### Operating system

### `nbgrader --version` nbgrader version 0.5.3

### `jupyterhub --version` (if used with JupyterHub) NA

### `jupyter notebook --version` 5.0.0

### Expected behavior
I have an autograded notebook where the students have written a simulation of a patient population. The students create a patient class and then instantiates a list of patient objects and follows them until the

[2017-12-01 21:44] ddbourgin opened #916 "JSON ValidationError on old notebooks, even after update"
When attempting to `assign` notebooks created using an earlier version of nbgrader, I receive a JSON ValidationError, even after updating the cell metadata using `nbgrader update`, as in https://github.com/jupyter/nbgrader/issues/883. Full traceback:

[code]

### System Info
[code]

[code]
[code]

[code]

[2017-12-12 22:38] jhamrick commented on #912
Confirmed. From a quick look, it seems as though the formgrader isn't properly encoding the URL because the error is a 404 error; it looks as though it's turning the backslash into a forward slash. For example, if my student id is `foo\bar`, then the logs show:

[code]

Note the `foo/bar` rather than `foo\bar`.

[2017-12-12 22:44] jhamrick commented on #913
Hmm, I can see the usecase for this though it sort of goes against the notebook philosophy that the notebook should be runnable beginning to end (and if some cells in the middle are skipped, this might not be the case---for example if a later cell uses the `A` variable that you've defined in the manually graded answer cell if your example).

Would an acceptable compromise be to allow specific note

[2017-12-12 22:50] jhamrick commented on #862
Reopening this issue because #911 didn't quite address what I had in mind, though this is totally my bad for (1) not explaining well enough in the issue description and (2) not being around to review. More specifically, in the developer installation instructions [here](https://github.com/jupyter/nbgrader/blob/master/nbgrader/docs/source/contributor_guide/installation_developer.rst#installing-noteb

[2017-12-12 23:30] jhamrick commented on #915
Yes, you should be able to configure this using the `c.ExecutePreprocessor.timeout` config option (see http://nbgrader.readthedocs.io/en/stable/configuration/config_options.html ). It looks like the default is 30 seconds, which might be a bit slower than you want.

Let me know if that doesn't actually solve the problem!

[2017-12-12 23:32] jhamrick commented on #916
From talking to @ddbourgin over email, it seems that the assignments he was using have some old metadata in them from a very old version of nbgrader. I think it is worthwhile to have `nbgrader update` remove extraneous properties from the nbgrader metadata to catch cases like this.

[2017-12-13 08:10] makhalin commented on #913
My notebook has both type of cells.

[2017-12-13 08:34] jhamrick commented on #913
I figured that probably was the case. Would it be possible to refactor the problem into two notebooks, e.g. part a and part b, one of which is manually graded and one which is auto graded (or at least has no execution skipping)?

[2017-12-13 12:31] makhalin commented on #913
I'll try it. But can you add this kind of cell's type in future versions?

[2017-12-14 11:17] aytekinar commented on #882
I have the same problem on my Arch Linux machine.

I have installed `nbgrader` with
[code]
Below is a list of my user packages:
[code]
My `.local` directory is also added to my `PATH`:
[code]
Finally I install
[code]
and enable `nbgrader` for my `jupyter` platform
[code]
which can be verified by
[code]

When I issue `jupyter-notebook` and proceed to `Formgrader`, I see a 404 error.

Any idea?

[2017-12-14 12:14] jhamrick commented on #882
Hi Arda, did you also enable the server extension (with `jupyter
serverextension enable`)? I am on my phone and can't give the exact command
right now but it is in the installation instructions in the docs.

If you have enabled that can you please paste the command line out put of
the jupyter server?

On Dec 14, 2017 11:17 AM, "Arda Aytekin" <notifications@github.com> wrote:

I have the same probl

[2017-12-14 12:54] aytekinar commented on #882
I am very sorry @jhamrick.

You are right! In the installation instructions, you have the following:
[code]
I was lazy and sloppy enough to just read the `nbextension` part.

Now it is working. Thanks!

[2017-12-14 15:39] aytekinar opened #917 "Hidden tests are revealed in feedback"
### Expected behavior

I would expect that the system to keep hiding the hidden tests in the feedback students receive.

### Actual behavior

The system reveals the hidden tests in the generated HTML file. Is this a bug, or is this actually on purpose?

### Steps to reproduce the behavior

Feedback on a student's assignment wich has hidden tests.

[2017-12-14 18:58] rdpratti opened #918 "Student nbgrader install question"
I will be using nbgrader in stand-alone mode without JupyterHub.
My notebooks include autograded cells with both visible and hidden tests.
I want the students to be able to use validate to check their answers against the visible tests.
Freq asked questions mentions that a student's install should include validate.
Is that as simple as executing 'jupyter nbextension install --sys-prefix --py valida

[2017-12-15 13:04] rdpratti commented on #918
I think I found my answer reading the doc closer.

Basic install talks about install all of nbgrader and then disabling modules not wanted.
I will try that. But there is also a 2015 problem ticket that talks about different versions of nbgrader validation for instructor vs student. I am not sure if this was ever implemented.

[2017-12-20 22:37] sigurdurb commented on #725
@maxrudolph, @jhamrick  I had the same problem, fixed it by modifying file permission on the .jupyter/nbgrader_config.py file, it was not executable. Fixed it by running.
[code]
I am running Jupyterhub version 0.8.1

Maybe could add to the logs to say something like: "nbgrader_config not executable" ??

[2017-12-21 05:44] yao2001626 opened #919 "Submitted Assignment is Missing"
### Operating system
NAME="Red Hat Enterprise Linux Server"
VERSION="7.4 (Maipo)"
### `nbgrader --version`
[GCC 4.8.3 20140911 (Red Hat 4.8.3-9)]
nbgrader version 0.5.3
### `jupyterhub --version` (if used with JupyterHub)
0.7.2
### `jupyter notebook --version`
5.0.0
### Expected behavior
Students' assignment should be moved to the exchange (inbound) folder.
### Actual behavior
The submission is lo

[2018-01-12 11:50] kf71 opened #920 "Validate and Autograde notebook with OCaml kernel"
### Operating system
Ubuntu 16.04.3 LTS
### `nbgrader --version`
0.5.1
### `jupyterhub --version` (if used with JupyterHub)
0.8.1
### `jupyter notebook --version`
5.2.2

With jupyterhub as a service.
When attempting to validate or autograde a notebook with OCaml kernel, I get the following error:

(Note1: everything is OK when I validate or autograde a notebook with a Python kernel.
Note2: everyth

[2018-01-15 10:28] kf71 opened #921 "Bug with "Raw NBConvert" cell"
### Operating system
Ubuntu 16.04.3 LTS
### `nbgrader --version`
0.5.1
### `jupyterhub --version` (if used with JupyterHub)
0.8.1
### `jupyter notebook --version`
5.2.2

When trying to generate an assignment with a notebook containing a "Raw NBConvert" cell, I get the following error:

===================

[INFO] Updating/creating assignment 'test_python_raw': {}
[INFO] Converting notebook /home/x

[2018-01-16 08:40] kf71 commented on #920
Changing OCaml kernel from IOCaml to OCaml-jupyter
https://github.com/akabe/ocaml-jupyter
solves my problem.
Sorry for disturbing

[2018-01-16 08:41] #920 closed

[2018-01-16 14:00] sigurdurb commented on #881
@jhamrick : is there a way for two people to be in two to more classes without seeing every class in the Assignments tab. This would have to include setting the course_id variable in nbgrader_config.py as a list or what might be better idk, to have it both as a int and list and then just have the Assignments tab show the courses from the list if it is a list. Then other people who already deployed

[2018-01-19 01:00] dkirkby commented on #841
A new install currently displays this prominent warning on the Formgrader page, which is a bit disconcerting:
[code]
Is there a way to silence this if you don't need "release" and "collect", e.g., by setting:
[code]
in `nbgrader_config.py`?

[2018-01-19 13:54] gtolomei opened #922 "Assignment List extension w/o JupyterHub"
Hi everyone,

I have successfully installed nbgrader version 0.5.4 on mac OS High Sierra (version 10.13.2) in combination with jupyter notebook 5.2.2 using conda 4.4.7.
AFAIK, all nbgrader and server extensions are fully installed and enabled when nbgrader is installed using conda. This is indeed my case, and I can easily verify it by typing the following command:

Now, the thing is that I won't b

[2018-01-22 02:53] t-davidson opened #923 "Validation fails - possible timeout issue"
### Operating system
Mac 10.11.6

### `nbgrader --version`
0.5.4

### `jupyterhub --version` (if used with JupyterHub)

### `jupyter notebook --version`
5.30

### Expected behavior
I am trying to run a notebook which requires loading text data and running code to process it. Overall it takes around 2 minutes to run on my machine. It works fine when I run all the cells in the notebook and the gradi

[2018-01-22 18:23] sigurdurb opened #924 "Entering space infront of assignment name unfetchable"
* Ubuntu 16.04
* jupyterhub --version 0.8.1
* jupyter --version 4.4.0
* nbgrader version 0.6.0.dev (Also referred to as Formgrader)

Replicate:
Create an assignment with a name with space in front, like: " V1-T1"
Generate and release works as expected and all the foldernames have "\ " in the foldernames infront(like in the source/ and srv/nbgrader/exchange/) but the Formgrader does not show the sp

[2018-01-23 22:31] dkirkby commented on #799
In addition to saving time, this feature would be convenient with my course management software which expects a separate CSV per assignment.

[2018-01-31 02:12] sam0hack opened #925 "problem with nbgrader and docker"
Hi there,

First, I want to thank you for building the nbgrader tool. @jhamrick @minrk

I'm using root account on my main system. and jupyterhub server working fine I also installed nbgrader
So my question is: Suppose i have two accounts  teacher1 and  studentone. How can studentone submit an assignment to teacher1? I'm also using Docker as you can see in my config by using docker every user is co

[2018-02-05 03:57] sam0hack commented on #925
I've solved the issue by adding  `DockerSpawner.volumes`

[2018-02-05 03:57] #925 closed

[2018-02-06 13:27] dlukes opened #926 "Listing all assignments requiring action"
Is there a simple way of listing all assignments that require action from me as an instructor, i.e. either collecting, autograding, manual grading or feedback generation? I don't think there is in the web GUI, but there might be in the CLI and I just can't seem to find it :)

If there is no such command, I think it would make a great addition. At present, there are many places I have to check to m

[2018-02-07 11:10] dlukes opened #927 "`nbgrader feedback` flag to add new feedback file instead of overwriting"
Sometimes, I have a back and forth exchanging an assignment with students as they're resolving various issues. In these cases, it would be really helpful to have a flag for `nbgrader feedback` to generate a new feedback file while keeping the previous one (with the original version of the code and my comments) intact. Currently, the only option is to overwrite with `--force`.

Here's roughly the w

[2018-02-15 14:54] amellinger opened #928 "Assignment names with a '+' character break autograding"
I (perhaps foolishly) created an assignment with a '+' character in its name (the web interface did not complain). Now nbgrader will not autograde submitted assignments. From the log file, I gather that the + character is used as a separator between student id and assignment name.

Does anyone know of a workaround that lets me autograde assignments that have already been submitted?

Regards,
Axel

[2018-02-16 09:10] lgpage commented on #917
@aytekinar this is by design. For what use case would you want to keep the tests hidden in the feedback?

[2018-02-16 09:12] lgpage commented on #918
@rdpratti did you come right with this? Can you link to the other issue you mention above?

[2018-02-16 09:44] lgpage commented on #923
Can you try changing the `c.ExecutePreprocessor.timeout` config option (see http://nbgrader.readthedocs.io/en/stable/configuration/config_options.html). It looks like the default is 30 seconds, which might be a bit slower than you want.

[2018-02-16 21:20] ryanlovett opened #929 "Slow _filter_existing_notebooks impacts each submission"
On a deployment with ~600 students, _filter_existing_notebooks takes about 30s. This hits us when manual grading. A single submission is loaded (/formgrader/submissions/:submission_id) and that invokes api.get_notebook_submission_indices which calls the filter which walks the filesystem and filters out non-existing files. So when the grader presses Next, the next submission is loaded which causes

[2018-02-16 21:46] ryanlovett commented on #929
Re the filter:

Should this invalidate their submission when submitting?

[2018-02-16 21:57] ryanlovett commented on #929
I see that one can set ExchangeSubmit.strict=True. So I think _filter_existing_notebooks should be a no-op when this is set?

[2018-02-17 16:02] jhamrick commented on #919
I've seen this happen before; it seems to be a sporadic issue that occasionally happens when a lot of people are submitting at once or when there is poor internet connectivity.

Question: were you using one server with all your students on it, or did you have a more complex setup for example with NFS (which is what we were using when I saw this problem in the past)? I am wonder if the issue might

[2018-02-17 16:11] jhamrick commented on #921
I can confirm this, and the issue is that in the SQLalchemy API I've only allowed cells to be code or markdown. I'm not quite sure why I did this, but it should definitely be amended to include raw cells as well.

[2018-02-17 16:12] jhamrick commented on #920
Glad you were able to get it to work---sounds like IOCaml might not be quite up-to-date with the current requirements for jupyter kernels.

I'm glad it seems to be working with the OCaml-jupyter kernel; it's good to know nbgrader is being tested with other kernels besides python!

[2018-02-17 16:20] jhamrick commented on #841
I think that's a reasonable request and wouldn't be too hard to implement. I'll open a separate issue for it to track it.

[2018-02-17 16:21] jhamrick opened #930 "Add option to disable exchange functionality"
In #841 @dkirkby asked:

As I stated in that issue, I think this shouldn't be too hard to disable (though I think it would involve adding a separate config option, like `c.Exchange.enabled` which defaults to true.

[2018-02-17 16:26] jhamrick commented on #922
Hi Gabriele,

The assignment list extension is only for when you are
distributing/collecting assignments from your students using nbgrader, so
in your case you wouldn't want to use it. The best option here would be to
disable the assignment list extension.

- here I'm quoting from user documentation - "*To work properly, the
assignment list, formgrader, and validate extensions require both the
nbe

[2018-02-17 16:31] jhamrick commented on #924
Ooh, yeah, that's annoying---thanks for tracking this down!

For reference, you can work around this on the command line if you explicitly provide the name in quotes, e.g. `nbgrader fetch " V1-T1"`. But I can confirm this is also an issue when trying to fetch using the Assignment List extension. So there are really two bugs here it seems---the assignment list extension should use the correct assig

[2018-02-17 16:32] jhamrick commented on #925
Glad you were able to figure it out!

[2018-02-17 16:32] jhamrick commented on #926
That's a great idea! 👍

[2018-02-17 16:34] jhamrick commented on #927
I think that's a reasonable feature to add.

[2018-02-17 16:50] jhamrick commented on #928
Yeah, probably we should disallow `+` symbols from being in assignment names going forward.

In your case as a work around, you should be able to rename the folders in the `submitted` directory which I think should fix the problem. Here is a little script that should do what you want:

[code]

[2018-02-17 17:36] jhamrick commented on #928
Also, it is probably a good idea just to back up your submitted folder before doing this just in case something goes wrong---but I think just doing the renaming like this should be sufficient to fix the problem!

[2018-02-17 17:38] jhamrick commented on #917
Yeah, like @lgpage said that's intentional---the reasoning is that if you are grading students against hidden tests, it's still useful for the students to be able to see what they got wrong and understand why they got it wrong.

[2018-02-17 17:40] jhamrick commented on #923
It might be worth adding another entry to the FAQ about this sort of question, as it is asked relatively frequently. The answer is implied [here](http://nbgrader.readthedocs.io/en/stable/user_guide/faq.html#does-nbgrader-protect-against-infinite-loops) but it's not really explictly addressing the issue of the timeout not being long enough.

[2018-02-17 17:41] jhamrick opened #931 "Add instructions for increasing autograde timeout in the FAQ"
cf https://github.com/jupyter/nbgrader/issues/923#issuecomment-366457887

[2018-02-17 17:55] jhamrick commented on #929
Wow, that seems really slow. There probably should be a way to either disable this call if `ExchangeSubmit.strict == True` but I am also curious why it is so slow for you in the first place. I just did a quick test with 600 students and for me it takes less than a second to run `get_notebook_submission_indices` (which is what calls `_filter_existing_notebooks`):

In [8]: len(api.get_notebook_submi

[2018-02-17 19:12] jhamrick commented on #889
@reckoner I am going to close this issue as there hasn't been any activity on it, but if you still have problems or need additional help please feel free to create a new issue!

[2018-02-17 19:12] #889 closed

[2018-02-17 19:13] jhamrick commented on #915
@chapmanbe I am going to close this issue as there hasn't been any activity on it for a while, but if you still need any help please feel free to open a new issue!

[2018-02-17 19:13] #915 closed

[2018-02-17 19:55] ryanlovett commented on #929
This is happening from within a Kubernetes pod which attaches volumes via NFS. Our values:
[code]

[2018-02-18 09:26] gtolomei commented on #922
Hi Jess,

Thanks for your reply.
Now everything is indeed much clearer!

Cheers,
G.

P.S.: Thanks for the effort you've been putting through this; nbgrader is such a great piece of tool!

[2018-02-18 09:26] #922 closed

[2018-02-18 12:07] jhamrick commented on #929
Hmm ok, I wonder if it's latency due to NFS that's the problem. That's really surprising that it's so slow; it's approximately 50msec per call to `os.path.exists`.

As a quickfix, I can definitely check whether `ExchangeSubmit.strict == True` and disable calls to `_filter_existing_notebooks` in that case. As a better solution, it might be a good idea to eventually include some sort of caching.

[2018-02-18 12:50] jhamrick opened #935 "Figure out what to do about running nbextension tests"
I am now seeing a warning printed out when running the nbextension tests:

[code]

We should investigate replacing Selenium with headless Chrome or Firefox instead, as suggested by the warning, though I am not sure how well it will work to do this on Travis?

[2018-02-18 12:56] jhamrick commented on #935
It sounds like this should be pretty straightforward to do on Travis:

https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-the-Firefox-addon-in-headless-mode

Though given my experience with running selenium tests I am guessing this will result in a lot of tests failing and a lot of debugging to find and fix all the resulting issues 😞

Appveyor also includes Firefox out of the box:

h

[2018-02-18 15:24] #928 closed

[2018-02-18 15:34] aytekinar commented on #917
Thank you, both @lgpage and @jhamrick, for your responses. At least an option would have been great in that regard. When we allow for resubmissions, it might be better to hide the tests. Then, once the final grade is given, then the student can see what went wrong in the whole process. That would help when studying for the exams while keeping the hidden tests hidden in the intermediate submissions

[2018-02-18 16:04] jhamrick commented on #917
Ah I see, allowing for resubmissions is not something I'd considered.

I think it's probably reasonable to add an option to suppress hidden tests in the feedback, but have it be off by default, and with a warning that if the hidden tests change the state of the notebook it might be very difficult to understand the behavior of visible parts of the notebook.

[2018-02-18 16:11] aytekinar commented on #917
Thank you for taking it as a feature/enhancement request. I cannot say anything regarding how you would implement and which default behaviour you would opt-in. But provided that there is a feature and that it is documented, I would (personally) be glad to read through and modify the settings accordingly.

Cheers :)

[2018-02-18 18:14] jhamrick commented on #924
So I tracked the issue in assignment list down to the fact that tornado's `get_argument` function strips whitespace by default: http://www.tornadoweb.org/en/stable/web.html#tornado.web.RequestHandler.get_argument

Rather than modifying all the places where this is used to have strip=False, I am just going to have nbgrader by default strip whitespace from assignment ids (and course ids).

[2018-02-18 19:27] #924 closed

[2018-02-19 00:58] ellisonbg commented on #841
It sounds like `/srv` is the right location. In the cases where an exchange directory is being used, I do think it is reasonable to expect that someone with root access is setting things up. I do think we should make it possible to run nbgrader with no exchange and no warnings like this and something like the above recommendation seems like a good approach.

[2018-02-19 19:58] t-davidson commented on #923
Thanks for getting back to me about this. I did experiment with changing the timeout parameters, I set the configuration about to `None`. I was still unable to fix the issue. I went back just now and tried to validate the notebook and it worked, so I cannot reproduce the issue. I have not experienced the same problem with other assignments so perhaps it was simply a problem with my configuration.

[2018-02-19 19:59] #923 closed

[2018-02-20 02:10] yao2001626 commented on #919
I was using one dedicated server for all the students. This only happened when all the students (112) were submitting at once.

[2018-02-24 13:01] jhamrick commented on #919
Hmm, interesting... I'm really not sure why this happens but it definitely warrants further investigation.

[2018-03-01 01:54] TomDonoghue opened #938 "Accessing scores per question from assignments"
First, a question: Is there a way to export grades, or interact with the gradebook so as to get the grades per assignment, per question?

As far as I can tell, there is not (although perhaps possible with a custom Exporter?).

Unless I've missed something that would currently make this possible, I think this might be a useful feature:
- It would allow for better auditing of assignments, seeing whe

[2018-03-01 04:58] jhamrick commented on #938
Yes, this is definitely something we plan to add, see #799

In the meantime though this should be pretty straightforward to do yourself by writing a [custom exporter](http://nbgrader.readthedocs.io/en/stable/plugins/export-plugin.html). Here is a more detailed example of how to [extract information from the gradebook](http://nbgrader.readthedocs.io/en/stable/user_guide/advanced.html#getting-inform

[2018-03-12 06:15] bbhopesh opened #939 "Manual grading failing for one of the instructors with 404"
### `nbgrader --version`
0.5.4
### `jupyterhub --version` (if used with JupyterHub)
0.8.1
### `jupyter notebook --version`
5.2.2

We are two instructors for a course and nbgrader home is shared directory between us. Both instructors are part of same linux group and we manage file permissions under nbgrader home at this group level. Everything works fine for us, we are both able to create/release/a

[2018-03-12 06:16] bbhopesh commented on #939
@jhamrick

[2018-03-12 09:39] jhamrick commented on #939
Could you please post the `nbgrader_config.py` files for both instructors (the one who it works for and the one who it doesn't work for)?

[2018-03-12 14:27] bbhopesh commented on #939
The nbgrader directory is shared between us, and this is the `nbgader_config.py` for both of us

[code]

To point to the directory which contains above `nbgrader_config.py`, we have another `nbgrader_config.py` in `/etc/jupyter`. This is also present for both of us.
[code]

[2018-03-13 02:16] bbhopesh commented on #939
I should have tried this earlier but just restarting the jupyterhub fixed the issue.

[2018-03-13 21:56] yangkky opened #940 "Have submitted notebooks import from local directory"
I had students edit a python file and then submit it along with the notebooks. However, when I run the autograder, nbgrader imports the python file from my source directory instead of the submitted one. This, of course, leads to the test cells that test their implementation always passing no matter what they do (and also makes it so that, if they added and rely on any further functionality that's

[2018-03-14 16:42] sigurdurb opened #941 "Nbgrader.generate_config=False still generates a config file"
Running:
`
nbgrader quickstart <course_id> --Nbgrader.config_file=/home/course/.jupyter/nbgrader_config --Nbgrader.generate_config=False
`
still generates a config file. Even though I say =False to generating it. And I give the path to the real config I have.

The docs are also misleading because they say generating a config is False by default:
[see docs](https://nbgrader.readthedocs.io/en/latest

[2018-03-14 22:49] ttimbers opened #942 "Jupyter/nbgrader learning analytics dashboard?"
I am curious as to whether there exists, or there are thoughts to develop, a learning analytics dashboard for use with Jupyter and nbgrader in the classroom? For example, if you have students working on a specific notebook during a class/tutorial that has several questions - could one probe how many questions students had answered and, if those questions were autogradable, what the mean/median gra

[2018-03-15 18:11] acbart commented on #530
Hi, would any one be able to give an update on this? We're very interested in a JupyterHub integration with Canvas for our institution. Our ideal flow would be something like this for students:

1. Students log into canvas
2. Students click on an assignment for the day
3. Jupyter launches the relevant assignment
4. Student writes their solution
5. Student clicks the "validate" button
6. Either at

[2018-03-15 18:16] ryanlovett commented on #530
@yuvipanda is developing a [large hub](https://github.com/berkeley-dsep-infra/data8xhub) that doesn't use nbgrader, but does launch notebooks from Canvas using LTI. The class is about to launch soon so he may not have time at the moment to contribute to this thread.

[2018-03-15 21:17] huwf commented on #530
Hi @acbart
I did develop a version which launches from Canvas, but I was unable to find a way to properly post it back. The trouble is, if there is more than one assignment available at any one time, there is no way to tell what the student submitted.

1. Student launches for Assignment 2, using same workspace as Assignment 1
2. Student completes assignment 1, and submits
3. The LTI post back woul

[2018-03-16 23:59] nhiquach commented on #660
What is the current procedure for modifying the extension value of a submitted assignment? I'm having some trouble finding the interface to modify this attribute in the db.

[2018-03-17 00:55] nhiquach opened #943 "Ability for students to see assignment duedate"
It seems that the current Student use case of `nbgrader list` is fairly limited in what information can be seen. Is there any way to expose the duedate of an assignment on the student side of nbgrader?

[2018-03-18 17:40] acbart commented on #530
I've encountered a similar headache when developing LTI integration for our BlockPy tool. We solved it by storing the submission postback URL in our database. Wouldn't another solution be to store the Submission URL in the IPYNB notebook file that's created for the student?

[2018-03-23 08:27] perllaghu opened #944 "Changing the Exchange back-end?"
We are running a campus-wide Notebook service as multiple Docker containers across a swarm*.... with a VLE authentication client (aka an LTI "provider") front-ending jupyterhub .

Our next interest is implementing NBGrader in notebooks, however as we are running in a swarm the Exchange suite writing to local-filestore is problematic for us.

Rather than just fork NBGrader and hack our own code in,

[2018-03-23 15:01] perllaghu commented on #530
We also have a solution for a large(ish) `jupyterhub` instance - though we have a Django front-end which does the LTI integration (for us, Blackboard)..... and we run our Notebooks in a swarm.

Question for @huwf & @acbart : how are you managing resources?
We find that any more than about 30 concurrent users on a VM, and it becomes pretty unusable.

We saw two solutions:
1. Have a VM with more res

[2018-03-23 15:40] huwf commented on #530
I ended up going to the first option, and yes, it is more expensive. We don't have enough users to make it worthwhile adopting the second solution in the end. There are spawners which manage autoscaling for you, such as https://github.com/jupyterhub/kubespawner. I found Kubernetes too complicated to figure out properly, so my plan was to make use of a swarm and write my own simple autoscaler but I

[2018-03-26 08:29] perllaghu commented on #530
@huwf - at one point, we had 150 simultaneous users... and given our `standard notebook` Docker Image uses about 0.5GB Memory, real tin with 16GB Ram doesn't last long!

Our hope is to be able to support somewhere in the region of 300 simultaneous users (which is just 1% of the Universities undergraduate population)

[2018-04-04 09:55] perllaghu commented on #659
I'm interested in this, however have two complications to throw into the mix:

1. In our environment, the `jupyterhub` service spawns notebooks onto different VMs in a swarm. This means that _persistent_ storage is done via NFS (the Notebooks _tree view_ does not use the `ContentsManager` plugin), so each notebook runs as the same user (and we use Docker `labels` to distinguish things for accounti

[2018-04-12 07:55] vinayakumarr opened #945 "Conducting an online exam using nbgrader"
We have 25 students. We have to conduct an online exam. For this, we are using an ipython notebook. Each user shouldn't be accessible to other user ipython notebook. we have ubuntu operating system. Could you please tell us how to install nbgrader in step by step procedure.

[2018-04-22 11:14] jhamrick commented on #939
Glad to hear it. Feel free to comment here again or open a new issue if you encounter the issue again!

[2018-04-22 11:14] #939 closed

[2018-04-22 11:27] jhamrick commented on #942
It would definitely be cool to have something like this, though it might not look like exactly how you're thinking---in particular, it would be very difficult with to have a tool that gives real time analytics just based on how nbgrader is currently structured. Until students explicitly submit their assignments, the autograder has no idea how well they're currently doing and it would be nontrivial

[2018-04-22 11:30] jhamrick commented on #943
Currently, no, this is not supported---but it seems like an obvious thing to add and probably shouldn't be too difficult to do.

[2018-04-22 11:40] jhamrick commented on #944
Yes, this is definitely something that's planned and the most thorough discussion of it is in #659 (which I see you've commented on too---but I'm just leaving a note here about that in case others come along this issue too). Unfortunately there's not currently a timeline for getting this implemented but it's definitely something we're intending to do, hopefully soon.

I'm going to close this issue

[2018-04-22 11:40] #944 closed

[2018-04-22 11:44] jhamrick commented on #659
@perllaghu The idea with the HubShare service will be to alleviate the issue with your first point. The main idea is that HubShare will have control over some sort of file store for the exchange, with permissions determined based on JupyterHub users rather than local process users. This means you could definitely launch notebooks as all the same user (as long as the JupyterHub users are different)

[2018-04-22 12:04] jhamrick commented on #945
The best way to do this would be to run nbgrader with JupyterHub. I'd recommend having a look at the reference deployment for using JupyterHub with nbgrader here, which includes steps for getting everything installed and running: https://github.com/jupyterhub/jupyterhub-deploy-teaching

[2018-04-22 12:58] jhamrick commented on #940
Another way to do this which would be slightly more flexible would be to allow you to specify in the config file a list of files per assignment that shouldn't be overwritten by the source version.

[2018-04-22 14:46] jhamrick commented on #943
Hmm, this is actually a bit trickier than I initially imagined because the due date for the assignment is stored in the nbgrader database, but students do not have access to this database. One way to get this information to students would be to include the due date information when the assignment is released, but then if the instructor updates the due date on their side students won't see the upda

[2018-04-22 15:48] perllaghu commented on #659
Absolutely - this is the whole point of LTI: it does the authentication/authorisation part (basically OAuth), and gives you course, user, and role - so you know if the user is an instructor (gets FormGrader) or a student (gets Assignment)

[2018-04-22 17:59] #941 closed

[2018-04-30 18:55] geoff-va opened #949 "nbgrader as a service?"
Is it possible to user nbgrader as a service instead of requiring the entire infrastructure, eg, filesystem layout, database, etc?

The workflow I'm looking for is something more akin to:
* Generate instructor source file via a local instance of nbgrader/jupyter
* Generating a student version via `NbGraderAPI.assign`
* Grading a single students notebook via `NbGraderAPI.autograde`
* return auto-gr

[2018-05-01 14:07] bogaaak opened #950 "Formgrader manual grading version does not load attached files"
### Operating system
MacOS X 10.13.2

### `nbgrader --version`
Python version 3.6.3 |Anaconda, Inc.| (default, Oct  6 2017, 12:04:38)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
nbgrader version 0.5.4

### `jupyter notebook --version`
5.0.0

### Expected behavior
Student's load attached figures and discuss them inside "Manually graded answer"-markdown-cells.
They use, for example,

[2018-05-01 14:24] janmaltel opened #951 "Ability to show/toggle all student names in formgrader"
Follow up on:
https://github.com/jupyter/nbgrader/issues/575
... which led to:
https://github.com/jupyter/nbgrader/pull/617

I would highly appreciate the possibility to **toggle the visibility of all student names--with one click**. We do grading anonymously and I think it's a good default.

However, when students want to discuss individual issues **after they've received their grades/feedback**,

[2018-05-01 15:15] hcastilho opened #952 "Unexpected behaviour of utils.find_all_files"
### Operating system
Ubunto 16.04

### `nbgrader --version`
nbgrader version 0.5.4

### `jupyterhub --version` (if used with JupyterHub)
0.8.1

### `jupyter notebook --version`
5.4.1

### Expected behavior
By including '.git' or '.git/**' in CourseDirectory.ignore anything under the git directory to be ignored.

### Actual behavior
Anything in subdirectories of '.git' is included.

### Steps to re

[2018-05-03 20:40] jhamrick commented on #949
Unfortunately, this functionality is not currently supported and it would require a major redesign of nbgrader to add it 😞

It is currently possible to generate the assignments without the database (by passing the `--no-db` flag or setting `Assign.no_database = True` and `SaveCells.enabled = False`), but this still requires the filesystem layout.

A similar functionality does not exist for autogra

[2018-05-03 21:04] jhamrick commented on #950
Ah, this indeed seems to be a bug---the formgrader currently doesn't support notebook attachments (but it should). I don't think there's anything you can do for this assignment to make them display, unfortunately, but what I would suggest for future assignments (until the bug is fixed) is to have students save the image to a file and then load the file as an image (rather than loading the attachme

[2018-05-03 21:07] jhamrick commented on #950
Related: https://github.com/jupyter/nbconvert/issues/699

[2018-05-03 21:10] jhamrick commented on #951
This should be possible, though it requires going through a different route:

* Click "Manage Students" on the left navigation bar
* Click on name of the relevant student
* Click on the name of the relevant assignment
* Click on the name of the relevant notebook
* You should now be viewing their submitted notebook in the formgrader

Let me know if that doesn't answer your question!

[2018-05-03 21:16] jhamrick commented on #952
Thanks for catching this! This is indeed a bug; the logic in `find_all_files` isn't quite right. In fact, it does exclude files in directories that are passed into the exclude argument, but not *subdirectories*:

[code]

[2018-05-03 21:36] jhamrick commented on #929
Closed by #934

[2018-05-03 21:36] #929 closed

[2018-05-03 21:43] jhamrick commented on #141
I have a PhD now! 😸🎉👩‍🎓

[2018-05-03 21:43] #141 closed

[2018-05-03 22:26] geoff-va commented on #949
No, I don't think having the autograder bypass those checks is worthwhile. Accurate results are more important than convenient results :) Thanks though!

[2018-05-03 22:44] jhamrick commented on #918
I am going to close this issue as there hasn't been any activity on it in several months, but feel free to comment here or open a new issue if there are any further questions!

[2018-05-03 22:44] #918 closed

[2018-05-03 22:46] jhamrick commented on #938
I am going to close this issue as it is a duplicate---if there are any further questions please comment on #799 so we can track them there!

[2018-05-03 22:46] #938 closed

[2018-05-03 22:49] #952 closed

[2018-05-05 12:39] bogaaak commented on #951
Oh, that is great! Thank you very much for your answer.

I still would advocate for a general toggle/option for anonymization. At our university, the student submissions we receive are already anonymized through the "Moodle" system.

The "double-anonymization" makes things slower in cases where students submit, for example, supplementary .pdf files / figures or when somehow there is an issue with

[2018-05-05 15:40] jhamrick commented on #951
Sure, I think it's reasonable to have the anonymization be a config option.

[2018-05-05 15:51] #940 closed

[2018-05-05 18:36] TomDonoghue commented on #938
@jhamrick :
Sorry - I forget to get back to you originally that yes, using a CustomExporter allowed me to do all the things I wanted / needed to do for our assignments! Thanks for the guidance!

More broadly: also huge thank-you to you (and others) for all your work on nbgrader - we just finished using it again for our large 'data science' class, and I'm really not sure how we could have gone abou

[2018-05-06 16:03] jhamrick commented on #938
Glad to hear you were able to get it all working with a custom exporter! And even more glad to hear that it's been working out so well for your data science class 😄

[2018-05-06 18:44] gertingold commented on #483
@jhamrick: congratulations on successfully closing #141!

Motivated by security concerns voiced after a [Jupyterhub/nbgrader presentation](https://github.com/gertingold/lit2018), I looked a bit into the issue discussed above. It seems that it could be helpful to split the work done by `autograde` into three steps.  It would then be sufficient to only make the `autograded` directory accessible to d

[2018-05-06 19:33] gertingold commented on #483
Having three subcommands sounds like a very good idea. I'll try to work on an implementation.

[2018-05-07 18:42] jhamrick opened #956 "Fix warning with timezones"
Somewhere in the tests the following warning is being raised:

[code]

This should be addressed before it turns into an exception.

[2018-05-08 20:08] #935 closed

[2018-05-08 21:45] jhamrick commented on #719
I am closing this issue because there hasn't been any activity on it in a while. However, if you (or others) continue to encounter problems, feel free to comment here or open a new issue!

[2018-05-08 21:45] #719 closed

[2018-05-08 21:48] jhamrick commented on #807
I am closing this issue because there hasn't been any activity on it in a while. However, if you (or others) continue to encounter problems, feel free to comment here or open a new issue!

[2018-05-08 21:48] #807 closed

[2018-05-08 21:51] jhamrick commented on #809
See also #809 , which requests a way of choosing the timezone too.

[2018-05-08 21:54] jhamrick commented on #841
Ok, given the discussion here, I am going to go ahead and close this issue since it sounds like there's consensus we shouldn't change the default location.

[2018-05-08 21:54] #841 closed

[2018-05-08 21:58] jhamrick commented on #883
I am closing this issue because there hasn't been any activity on it in a while. However, if you (or others) continue to encounter problems, feel free to comment here or open a new issue!

[2018-05-08 21:58] #883 closed

[2018-05-09 10:26] perllaghu opened #960 "Extend nbgrader.db to cope with multiple courses (and think beyond that)"
The current `nbgrader.db` database has no concept of a course: each course has to have it's own database (configured in the config file)

In our environment, we have

- multiple instructors on a course, and
- one instructor doing multiple courses

We also want to consider how to move to an external database (postgresql/mysql/etc).... but we are also very conscious that the notebook-servers themsel

[2018-05-09 19:17] #496 closed

[2018-05-09 19:18] #348 closed

[2018-05-09 20:26] jhamrick commented on #960
nbgrader does support multiple graders for a single course and there are two ways you would configure this depending on whether you're using JupyterHub or not:

1. Using JupyterHub: see http://nbgrader.readthedocs.io/en/master/configuration/jupyterhub_config.html#example-use-case-one-class-multiple-graders
2. Not using JupyterHub: you will still need access to a shared server, but then you can run

[2018-05-09 20:34] jhamrick opened #961 "Document how to set up nbgrader for multiple graders"
There is already documentation on how to use nbgrader with [multiple graders with JupyterHub](http://nbgrader.readthedocs.io/en/master/configuration/jupyterhub_config.html#example-use-case-one-class-multiple-graders), but not when *not* using JupyterHub.

Briefly, the answer is that you still need access to a shared server, which would host the course directory. You would then run a password-prote

[2018-05-10 07:52] perllaghu commented on #960
Our environment is an LTI connection into a JupyterHub instance (so we get the userID, Course, and Role from that, not pre-configured), with the Notebooks spawned into a cloud (currently Docker Swarm, hopefully kubenetes shortly)

Persistent storage is held centrally, and mounted over /home/joyvan

..... but that docs page is very useful.

[2018-05-10 17:47] #662 closed

[2018-05-10 17:53] jhamrick commented on #960
Sorry, I think maybe I wasn't quite clear in my question: what do you see as being the benefit of having a shared database for all courses when you still need separate course directories and nbgrader_config.py files?

[2018-05-10 21:06] jhamrick commented on #926
Related: #783

[2018-05-10 21:09] jhamrick opened #965 "Add "last modified" attribute to the gradebook models"
In certain cases, it is useful to know when the last time something was modified in the gradebook. For example, in order to determine whether feedback should be regenerated (see #926) you need to be able to know when the last time grading took place, and compare that timestamp to the timestamp of the feedback.

[2018-05-13 13:11] gertingold commented on #483
As an update of what I have been trying to do so far: Looking at the code, it seemed quite easy to implement three options `--only-sanitize`, `--only-execute`, and `--only-record` very much in the spirit of the `--no-execute`-flag, i.e. by disabling certain processors. However, it turned out that for the options `--only-execute` and `--only-record`, I needed to specify `--force` as well, because o

[2018-05-14 22:02] psychemedia opened #966 "Standalone workflow"
My distance ed institution is some way to go yet with a centralised notebook service, but we do currently have a course running with:

- ~500 students working with individual notebook servers running in VMs on their own computers;
- ~20 tutors/markers each with an allocation of about ~25 students; markers are also running their own VMs on their own hardware.
- 3 pieces of assessed work: in the fir

[2018-05-18 04:18] knagas opened #968 "404 when accessing the formgrader"
After the installation of nbgrader,  I am not able to open formgrader. It shows 404 not found.

I did the step in thereaddocument.

[2018-05-19 13:10] jhamrick opened #969 "Add link to the Jupyter in Education map in third-party resources"
Here is the link: https://elc.github.io/jupyter-map/

[2018-05-19 13:17] jhamrick commented on #483
Hmm, it depends a little on how you've implemented it, but usually what happens with  `--force` is that it will cause files to be deleted from the `autograded` directory. So if you use `--force` with `--only-record`, it may delete those files and re-copy them, which would be a problem then because then it will be determining grades based on notebooks that haven't been executed yet.

If you want to

[2018-05-19 13:28] jhamrick commented on #966
This should certainly be feasible with nbgrader, for the most part.

You'll want to set up a shared notebook server (not a full JupyterHub---just the notebook which is running at a URL that multiple people can access). Then your central academic team can use that notebook server to create the instructor versions of your assignments. Alternately, you can have the team all install nbgrader separatel

[2018-05-19 13:35] jhamrick commented on #966
This should certainly be feasible with nbgrader, for the most part.

You'll want to set up a shared notebook server (not a full JupyterHub---just the notebook which is running at a URL that multiple people can access). Then your central academic team can use that notebook server to create the instructor versions of your assignments. Alternately, you can have the team all install nbgrader separatel

[2018-05-19 13:41] jhamrick commented on #869
That would be a very cool library for instructors to be able to use! (As before, I don't think it is in scope for nbgrader itself since it's not language agnostic, but I would love to be able to put it on the third-party resources page and point people to it if you end up implementing it)

I think that model seems mostly reasonable, though hidden cells aren't default in the notebook so you would h

[2018-05-19 13:48] jhamrick commented on #968
Unfortunately, it's difficult for me to help debug as I don't have enough information to know what might be the problem. Can you please let me know:

1. What is the output of `jupyter troubleshoot`?
1. What is the output of `nbgrader --version`?
1. Exactly which commands you ran to install nbgrader?
1. What URL gives you the 404?
1. Any command line output when you try to access the formgrader?

T

[2018-05-19 20:16] knagas commented on #968
I figured it out! Thanks! it was all about sys-prefix to user

[2018-05-19 20:16] #968 closed

[2018-05-29 09:50] s6007493 opened #971 "Can't use formgrader for release and collect assignment."
### Operating system
Fedora 27 x64 (jupyterhub and nbgrader on docker)
### `nbgrader --version`
0.5.4
### `jupyterhub --version` (if used with JupyterHub)
0.9.0-dev
### `jupyter notebook --version`
5.5.0
### Expected behavior
Formgrader should be able to release and collect assignment
### Actual behavior
I already set the course id in nbgrader_config.py but formgrader have an error message "The co

[2018-06-01 14:35] #971 closed

[2018-06-02 14:00] jhamrick opened #974 "Allow the autograder to assign partial credit"
I could have sworn there was already a discussion about this in an issue somewhere, but I wasn't able to find it...

I think this might be possible to do if a test cell returns a value between 0 and 1, which could then be interpreted by the autograder as the percent score achieved on that test. If the cell doesn't return anything, it is interpreted as full credit as it currently does, and if it ra

[2018-06-02 14:14] jhamrick commented on #971
@s6007493 Did you close this because you were able to figure out the issue?

[2018-06-03 12:55] dsblank opened #976 "Move third_party.rst to new repo"
I didn't know about this file in nbgrader's documentation:

[code]

The page of links to resources is a great idea, but it is in the wrong place. These so-called "third party" links should be kept outside of nbgrader as many don't have much (or anything) to do with nbgrader.

Suggestions:

1. Create a new repo under the jupyter project called jupyter-in-education.
2. This could be a documentation-

[2018-06-03 19:37] jhamrick commented on #976
Yeah, I put it in the nbgrader repo for now so that it exists somewhere, but there's a tentative plan to create a new space for stuff like that which @willingc and @lheagy have been thinking about!

[2018-06-09 09:44] danielmaitre opened #977 "Global tasks"
Hi all,

I've used nbgrader last year and I plan to use it more in the future. One functionality I am missing is what I will call "tasks", they would be exercises/objectives that span multiple cells. For example the task "Illustrate this aspect of the course with a plot!" would probably require students to create a plot in a code cell and comment on it in a markdown cell. Other tasks might involve

[2018-06-09 12:18] jhamrick commented on #977
There's nothing technically preventing this from being done in nbgrader---students can certainly provide code/comments in other cells beyond the cell which has the grade in it. I suppose there is a drawback here which is that then you can't provide comments during the feedback phase on other cells, though. But you could get around that too by having those cells be marked as graded but be worth zer

[2018-06-10 06:08] danielmaitre commented on #977
Thank you for the comment!  I realise that this would introduce quite a bit of changes, that's why I'm asking if it is of interest before trying to implement it.

Thank you for the suggestion with the manually graded cell with 0 points suggestion, I might use it in the interim. The drawback is that I would need to decide on how many cells the students would need while I'd rather them develop their

[2018-06-11 02:25] liffiton opened #978 "Students able to access others' submissions?"
### Operating system
Linux (CentOS 6)

### `nbgrader --version`
`nbgrader version 0.5.4`

### `jupyterhub --version` (if used with JupyterHub)
`0.8.1`

### `jupyter notebook --version`
`5.5.0`

### Issue

I'm just starting to explore nbgrader, so I may be missing an important detail, but in my testing it looks like a student could access another's submissions.  Submissions appear to be created in

[2018-06-18 16:41] magsol opened #979 "Command-line autograde assignments don't appear in formgrade web app"
I've been using nbgrader + JupyterHub for an introductory course the past couple of years, and in that time both platforms have seen extensive and backwards-incompatible architectural changes; I think I've stumbled upon another one.

Over the past few days, I've gone through the process of releasing, collecting, and autograding my first assignment, all via the command line:

[code]

However, when

[2018-06-19 14:16] murhum1 opened #980 "Unclarity on directory structure / configuration"
I'm currently trying to set up a jupyter notebook environment for a course of >600 students using kubernetes + jupyterhub + nbgrader. Everything jupyterhub-related seems to be working fine so far, but I'm having issues understanding the nbgrader configuration regarding courses and assignments.

My environment currently consists of 3 kubernetes nodes: one for kubernetes related administrative thing

[2018-06-19 14:51] consideRatio commented on #980
I [made a mindmap](https://drive.google.com/file/d/1W5bDmy6CoKITxMeiuv6HA5phR_NqPVif/view?usp=sharing) trying to figure out the details, I hope it is of use to you. In the mindmap you might be able to see the exchange folders as well as the `nbgrader` actions students and instructors can do, and what kinds of file system permissions are required for the actions.

I never made my jupyterhub (deploy

[2018-06-20 07:19] nhiquach opened #981 "Locked cells still copyable"
It is still possible to copy and paste locked cells which causes students to insert nbgrader cells with duplicate cell ids - breaking the validation and autograding process.

As a side note, locked markdown cells can also still be edited with keyboard shortcuts (ex: 1, 2, 3 which alter the markdown header of the first line of the cell) and it isn't easy to revert the cell back to its original stat

[2018-06-22 15:34] danielmaitre commented on #977
Hi,
I have worked some more on this feature and I think it is mostly complete (there is a few tests that fail that I need to look into). The code is at

https://github.com/danielmaitre/nbgrader

I'd like to it to be considered for inclusion in nbgrader, should I do a pull request?

[2018-06-22 18:42] magsol commented on #979
So I seem to have an idea of what's going on--

In testing something else, I used the formgrader app to stub out a skeleton assignment, and in clicking it (and getting a 404 error), I saw the URL that it was trying to reference: I realized the formgrader seemed to be looking in my user's _home directory_, rather than the _course directory_.

Using that bit of information, I `cp -r`'d over the `sou

[2018-06-22 18:52] magsol commented on #979
Ok, definitely still missing information beyond just copying directories over--likely stuff that should be in the `gradebook.db`. Manual grading doesn't show anything when I click on a specific notebook file for a given assignment ("No data available in table"), and under Manage Students, none of them show as having submitted anything. What am I missing?

[2018-06-26 10:14] #980 closed

[2018-06-29 15:56] svenuthe opened #982 "Window movement while focusing comment box"
### Operating system
Fedora

### `nbgrader --version`
python 3.5.3
nbgrader 0.5.4

### `jupyterhub --version` (if used with JupyterHub)
4.4.0

### `jupyter notebook --version`
5.4.1

### Expected behavior
After focusing the comment textbox, the browser window shouldn't move.

### Actual behavior
The Browser window moves to the head of the answer.
Only recognizable, if answer is very long.

### Ste

[2018-06-29 16:10] svenuthe opened #983 "Feedback for XHR requests"
### Operating system
Fedora

### `nbgrader --version`
python 3.5.3
nbgrader 0.5.4

### `jupyterhub --version` (if used with JupyterHub)
4.4.0

### `jupyter notebook --version`
5.4.1

### Expected behaviour
Within the correction work flow, it should be obvious if an request does **not** succeed.
Option 1) Make the read background of the rating box more obvious (change  answers header bg colour?)
Op

[2018-07-02 10:10] svenuthe opened #985 "full credit unexpected focus"
### Operating system
Fedora

### `nbgrader --version`
python 3.5.3
nbgrader 0.5.4

### `jupyterhub --version` (if used with JupyterHub)
4.4.0

### `jupyter notebook --version`
5.4.1

### Expected behavior
After clicking "full credit" button, the button has the focus.
Afterwards, scrolling with PgUp and PgDn is impossible in Firefox.

### Actual behavior
After clicking "full credit" button, the **n

[2018-07-04 13:40] adibaba opened #986 "Autograder with Java kernel: How to implement assertions?"
### Operating system

cat /etc/lsb-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=18.04
DISTRIB_CODENAME=bionic
DISTRIB_DESCRIPTION="Ubuntu 18.04 LTS"

### `nbgrader --version`

Python version 3.6.5 | packaged by conda-forge | (default, Apr  6 2018, 13:39:56)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)]
nbgrader version 0.5.4

### `jupyterhub --version` (if used with JupyterHub)

0.9.0rc1

### `jupyter note

[2018-07-04 20:28] maryamdev opened #987 "Where can a student see their grades?"
OS: Ubuntu 16.04.4 LTS
nbgrader version 0.5.4
jupyterhub version 0.9.0
jupyter notebook version 5.5.0

Expected behavior:
I want the student to be able to see his/her assignment grade. Is there a way for this?

Actual behavior:
As the Admin, after autograding an assignment, I can see the grade of each student. As a student, I can only see that an assignment has been submitted.

Thanks!

[2018-07-04 20:35] maryamdev opened #988 "Automatic Autograding After Assignment Submission"
OS: Ubuntu 16.04.4 LTS
nbgrader version 0.5.4
jupyterhub version 0.9.0
jupyter notebook version 5.5.0

Expected behavior:
Is there a way to **automatically** run the Autograder after a student submits an assignment?
I want 1) to minimize manual effort, and 2) to let a student sees their grade so that they correct their answers before leaving; one assignment might take several attempts, you know.

[2018-07-07 15:08] jhamrick commented on #978
Yes, I just tested it and this is in fact correct. This problem will be alleviated when we switch to HubShare (see #659 ) but I think for now it's a reasonable workaround to add a random string to the submission names.

[2018-07-07 15:14] jhamrick commented on #981
Hmm, I thought when cells were copied the metadata from them was dropped, but perhaps not---and it's definitely a problem otherwise. However I think these are bugs though with the notebook itself rather than nbgrader---would you mind opening up an issue on the notebook repo and linking to it here so we can track it?

[2018-07-07 15:30] jhamrick commented on #980
Glad you were able to figure this out! I'll note that you should be able to create `nbgrader_config.py` file in `/home/jovyan/.jupyter` rather than `jupyter_notebook_config.py`, but if this works then that's great. See also the note about the config file at the bottom of: https://nbgrader.readthedocs.io/en/stable/configuration/jupyterhub_config.html

[2018-07-07 15:33] jhamrick commented on #982
This is generally expected behavior for the window to move (the idea is so that you can tab between the answers and they scroll into view as you do so). Is there a bug with this behavior that prevents proper usage of nbgrader (i.e. does the comment box get scrolled off the screen?) If you could provide some more details that would be helpful!

[2018-07-07 15:34] jhamrick commented on #983
Yeah, that's definitely a problem that there's no warning at least. Option 2 seems reasonable.

[2018-07-07 15:37] jhamrick commented on #985
I think this is expected behavior. Can you explain why you would like the button to retain focus?

[2018-07-07 16:33] jhamrick commented on #986
This sounds like a bug with the java kernel, would you mind filing an issue there instead? Specifically, the thing that needs to happen is for the java kernel to send an error message kernel reply, which will cause the notebook to create an "error" output: https://github.com/jupyter/nbformat/blob/master/nbformat/v4/nbbase.py#L55

nbgrader then looks for this error output. If it's assigning full cr

[2018-07-07 16:36] jhamrick commented on #987
Students can run the notebook that you give them with the Validate extension which will tell them if all their tests passed, but they won't see the actual grade. After you've done the autograding, you can generate feedback (with the `nbgrader feedback` command---though unfortunately this isn't currently available in the formgrader interface) and return it to students which will show them their gra

[2018-07-07 16:38] jhamrick commented on #988
You can have students install the Validate extension, which will allow them to run their notebooks and see if there are any problems. However, this will only show which cells failed, and will not give them a grade.

Otherwise, no, there's unfortunately no way to automatically run the autograder after the student submits an assignment. You could probably write a script to periodically run "collect"

[2018-07-08 10:33] maryamdev commented on #987
Hi Jessica! Many thanks!

This command generates an html file in the feedback folder:
`nbgrader feedback  "<assignment-name>"
`

However, it is generated in the instructor's folder:
/home/instructor/feedback/student

... instead of being in the student's folder:
/home/student

... which means by default the student will **not** see the feedback after generating it.

When I check the docs ([link](h

[2018-07-08 11:06] jhamrick commented on #987
Yes, that's the behavior currently---you will have to write your own scripts for returning feedback to students. We have plans to add the ability to return feedback to students through JupyterHub eventually (see discussion here: https://github.com/jupyter/nbgrader/issues/659 and https://github.com/jupyter/nbgrader/issues/436 ) but it's not clear what the timeline for this will be, unfortunately.

[2018-07-08 12:54] maryamdev commented on #988
OK. Thanks, Jessica!

[2018-07-08 12:58] maryamdev commented on #987
Thanks, Jessica!

[2018-07-09 08:08] svenuthe commented on #982
Yes, if you click in the comment textbox the window scrolls up to the head of the answer and the comment box scrolls out of the view.

[2018-07-09 08:13] jhamrick commented on #982
Ah, I see. Yes, that is a problem.

[2018-07-09 08:17] svenuthe commented on #985
I use PgUp, PgDn Keys to scoll through the answers.
If a number input has the focus, the PgUp, PgDn Key are loosing scrolling functionality.
I am not sure, if this is a Firefox only behaviour.#
The actual behaviour is not expected by any user:
When I decide to give full credit, I click the button. There is no reason, any user (incl. me) expects that the input field is focused.

[2018-07-09 21:17] jhamrick commented on #985
Ah, I see. Can I recommend that you use tab and shift+tab to navigate through the notebook instead? This was an early design decision that we made to make it easier to jump quickly through different problems, and has the advantage that you won't accidentally go too little or too far when trying to get to the next problem (as might happen with page up/page down).

However, one of the limitations of

[2018-07-10 10:02] sondr3 opened #992 "Using the REST API outside the nbgrader webapp"
Hello, I'm currently in the process of evaluating nbgrader and JupyterHub for a course at our university and we want to implement some extra functionality on top of nbgrader but as a separate webapp. Thus I went looking for an API and though it's only mentioned in the documentation that there's a Python API I managed to find the commit where nbgrader was turned into a webapp and from there managed

[2018-07-10 17:48] magsol commented on #979
Ensuring the root directory was specified in the config was my first thought, but it didn't seem to have any effect, unless the config file just wasn't in the right place. If this was the case, the behavior would be consistent with what was effectively two separate independent instances of nbgrader (one command-line, one through the formgrader).

None of the results from `jupyter --paths` under th

[2018-07-11 12:34] maryamdev commented on #987
For the record, I used [this script](https://gist.github.com/jhamrick/2ad63d7226b64c0a95fa/) written by Jessica to return the feedback to students' directories.

Because the feedback path is slightly different, I had only to change this line:
`feedback_dir = os.path.abspath(os.path.join("feedback", name))`

 ... to
`feedback_dir = os.path.abspath(os.path.join("feedback"))`

It works just fine. Tha

[2018-07-11 14:20] svenuthe opened #993 "empty answers are not graded automatically"
### Operating system
Fedora

### `nbgrader --version`
python 3.5.3
nbgrader 0.5.4

### `jupyterhub --version` (if used with JupyterHub)
4.4.0

### `jupyter notebook --version`
5.4.1

### Expected behaviour
When a student's answer is empty, the field credit form is not shown.
The credit should evaluate automatically to zero.

### Actual behaviour
When a student's answer is empty, the field credit f

[2018-07-14 14:15] maryamdev opened #995 "Released assignments are still there after nbgrader db assignment remove"
OS: Ubuntu 16.04.4 LTS
nbgrader version 0.5.4
jupyterhub version 0.9.0
jupyter notebook version 5.5.0

Expected behavior:
When I use the command `nbgrader db assignment remove <assignment_name>`, it must remove all the relevant files and mentions.

Actual behavior:
When I use the command `nbgrader db assignment remove <assignment_name>`, and then go the "Assignments" tab, the assignments are still

[2018-07-15 15:35] kxiluri opened #996 "nbgrader feedback question"
### Operating system
Ubuntu 16.04.4

### `nbgrader --version`
0.5.3
### `jupyterhub --version` (if used with JupyterHub)
0.7.2
### `jupyter notebook --version`
5.0.0
### Expected behavior
nbgrader feedback "hwk1" creates under the course directory the feedback directory
### Actual behavior
indeed this happens however, i am not sure how the students can view the generated .html files
### Steps to r

[2018-07-15 18:34] maryamdev commented on #996
Hello! Please check this: [https://github.com/jupyter/nbgrader/issues/987](https://github.com/jupyter/nbgrader/issues/987)

[2018-07-16 14:18] rkdarst commented on #483
Hi,

I'm working on setting up nbgrader for our university, and security here seems to be the only major flaw.  Our first course is quite large, and it seems that checking notebooks for security manually isn't a viable option.  And making nbgrader depend on docker seems quite complex (we are running on kubernetes... so having containers in containers, with related permissions management for semi-t

[2018-07-18 20:12] ellisonbg commented on #981
JupyterLab does have a bug right that will cause metadata to be copied.

[2018-07-18 20:21] ellisonbg commented on #974
Could also do this through a custom MIME type, but the simple float number would be a good starting point.

[2018-07-27 07:11] destitutus opened #997 "A way to specify logfile or disable it"
`nbgrader autograde` command, help commandline

[code]

[code]

according to help it should be something like `nbgrader autograde ps1 --student=student --force --AutogradeApp.logfile=.autograde.nbgrader.log --NbGrader.logfile=.autograde.nbgrader.log`

### Operating system

Ubunbu 14.04

### `nbgrader --version`

Python version 3.4.3 (default, Nov 28 2017, 16:41:13)
[GCC 4.8.4]
nbgrader version 0.5

[2018-07-27 07:49] i02momuj commented on #971
I have the same error, I create a course in Jupyter, but it says to me that "The course id has not been set in nbgrader_config.py. The "release" and "collect" functionality will not be available.".

I have checked the nbgrader_config.py file but it has the course id, so I have no idea how to fix the problem.

I attach snapshots of the browser with the error, and the configuration file.
![browser](

[2018-07-27 22:42] FranLucchini opened #998 "Support for one instructor in charge of multiple courses"
Hello,

Recently our team started to use Nbgrader with JupyterHub. We are thinking of a future case where a single teacher or instructor will be in charge of multiple courses and we can't find a way of having one single account across all the courses, so the teacher can manage all assignments without having to use multiple accounts.

For example, we have two mock courses, course1 and course2, and

[2018-08-02 16:39] Leslie-C opened #999 "Autograde fails with TypeError"
### Operating system
macOS version 10.13.4

### `nbgrader --version`
Python version 3.5.4 |Continuum Analytics, Inc.| (default, Aug 14 2017, 12:43:10)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)]
nbgrader version 0.5.4

### `jupyter notebook --version`
5.0.0

### Expected behavior
Autograde assignments

### Actual behavior
When I run ```nbgrader autograde --create PS3```, or attempt to r

[2018-08-03 02:05] vishwesh5 commented on #980
Hi @murhum1 I am also trying to use Zero to Jupyterhub installation (jupyterhub+kubernetes). So far what I have figured out is that I need to have a NFS installed. Let's say I manage to do that somehow, how can I use nbgrader along with it? Can you please give a few pointers regarding how you were able to have that up and running?
Thanks in advance

[2018-08-05 22:10] rkdarst commented on #980
@vishwesh5, you can check out [this comment](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/174#issuecomment-410235452) to see our current state of things.  I hope to make better documentation soon.

[2018-08-08 22:38] davidnero commented on #956
Since codes like "PST" don't work, how are we to enter time zones?

What I'd really like is for it to be a global configuration option (defaulting to local timezone).

[2018-08-13 13:58] hkarl commented on #986
Hello,

I was wondering if any progress has happened here? Will have the same issue as the OP soon...

thanks,

HK

[2018-08-13 14:16] adibaba commented on #986
No updates from the project.
Our workflow includes to use relational operators instead of assertions an to throw Exceptions for negative results. Have also a look at the [kernel](https://github.com/jupyter/jupyter/wiki/Jupyter-kernels) named [IJava](https://github.com/SpencerPark/IJava).

[2018-08-13 20:53] rkdarst commented on #483
OK, I worked on this some and my results are in this repository.  The proof of concepts works, and I was able to execute the notebook within a protected kernel.  It required no changes to nbgrader, just make a new kernel and use the option `--ExecutePreprocessor.kernel_name=python3-isolated`.  It works as a normal user on modern Linux with no root required.  However, it doesn't work within an exis

[2018-08-14 11:59] rkdarst commented on #483
There are other examples of editing the kernel to run in containers:
- https://groups.google.com/forum/#!topic/jupyter/kQ9ZDX4rDEE
- https://github.com/clemsonciti/singularity-in-jupyter-notebook (singularity doesn't require or give root except for installation)

These combined with `--ExecutePreprocessor.kernel_name=python3-isolated` would achieve isolation, right?

[2018-08-19 19:15] Alexanderallenbrown commented on #950
@jhamrick I'd like to take a crack at fixing this, because my students often use attached images as part of their solutions... but I think my "fix" might not be structurally appropriate, and it had almost nothing to do with nbgrader. My approach was, after looking at the nbconvert issue you referenced above and reading over the proposed workarounds, to modify [nbconvert/exporters/html.py](https://

[2018-08-21 02:05] fm75 commented on #956
One problem with "PST" is that it is not local time during the summer.  I would suggest 'America/Los_Angeles' as the alternative.

I just saw this issue tonight (JupyterCon 2018 starting tomorrow). From the `nbgrader` folder, "PST" shows up 77 times in 13 files (.rst and .py)

[code]
Is this only a **testing** issue?

[2018-08-21 20:43] davidpwilliamson opened #1004 "nbgrader config change to ExecutePreprocessor.timeout seems to be ignored"
### Operating system

Windows 10

### `nbgrader --version`

0.5.4

### `jupyterhub --version` (if used with JupyterHub)

NA

### `jupyter notebook --version`

5.0.0

### Expected behavior

I've created a lab exercise in which students read files and run code on them; I created a bunch of hidden tests to check their output.

### Actual behavior

When I try to validate the code, I get a 'Keyboard In

[2018-08-30 01:25] fperez opened #1006 "Port the notebook extensions to JupyterLab"
This is so we can discuss whether this is the right path to follow for nbgrader, I'm not 100% sure yet but at least we can come to a decision here...

We're still using nbgrader at Cal quite a bit, and as I consider moving the students more to JupyterLab as their "daily driver", the absence of the student-facing extension for submitting notebooks is becoming a more relevant issue.

Curious what @j

[2018-08-30 01:27] fperez commented on #1006
ps - forgive me if it's been discussed here already, I did a search and didn't find it but feel free to point me to the right location.

[2018-08-30 17:46] ellisonbg commented on #1006
Fernando, I have never used the student facing extension. Can you describe
exactly what features you are wanting for them? Would be great to help you
be able to switch to lab...

On Wed, Aug 29, 2018 at 6:27 PM Fernando Perez <notifications@github.com>
wrote:

--
Brian E. Granger
Associate Professor of Physics and Data Science
Cal Poly State University, San Luis Obispo
@ellisonbg on Twitter and Gi

[2018-08-30 20:58] fperez commented on #1006
It's the notebook validation button in JS, that gives this kind of feedback:

![image](https://user-images.githubusercontent.com/57394/44878779-a7623500-ac5c-11e8-8489-b54c769ee995.png)

It's really just a thin layer atop the cmd line validation, so we're considering telling the students to run it at the cmd line... But I was wondering if anyone had thought about porting it over to Lab.

[2018-09-04 18:43] #999 closed

[2018-09-10 22:10] dsblank commented on #976
@willingc and @lheagy : what have you been thinking about related to this issue? Would love to help to get something moving!

[2018-09-11 05:57] JimmyTree opened #1007 "Extracting Grades in each cell in a submitted assignment"
Hi,

Is there a way where I can extract the grade of each cell that is being marked in a submitted assignment?
Currently I am using  the following piece of code to obtain the overall score in each submitted assignment.
https://nbgrader.readthedocs.io/en/stable/user_guide/advanced.html?highlight=export#getting-information-from-the-database

However, I am unable to look at the scores in each sub par

[2018-09-11 15:50] DavidNemeskey opened #1008 "Misbehavior if root directory ends with `/`"
### Operating system
Ubuntu 16.04

### `nbgrader --version`
0.5.4

### `jupyterhub --version` (if used with JupyterHub)
0.8.1

### Expected behavior
To work as intended?

### Actual behavior
I set the root directory to `/home/teacher/nbgrader/` (note the `/` at the end).

This setup resulted in the following problems:
- I created an assignment (with the grader user) `hw1`, but did not add anything

[2018-09-12 11:16] fishfree commented on #719
The problem still exists.

[2018-09-12 16:42] adibaba commented on #986
Using the IJava kernel, there are two solutions:

1. Use kernel.json to set the ea flag
2. Use JUnit Assertions

The kernel developer provided a comprehensive answer:
https://github.com/SpencerPark/IJava/issues/30#issuecomment-420713306

[2018-09-13 04:49] fishfree opened #1009 "The course id has not been set in nbgrader_config.py. The "release" and "collect" functionality will not be available. Please see the documentation on Setting Up The Exchange for instructions."
### Operating system:
Ubuntu 16.04 64bit
### `python --version`
3.6.3
### `nbgrader --version`
0.5.4
### `jupyterhub --version` (if used with JupyterHub)
0.9.2
### `jupyter notebook --version`
5.6.0
### Expected behavior
NBgrader will work perfectly.
### Actual behavior
Cannot release and collect
### Steps to reproduce the behavior
run under root ( BTW: I also installed my JupyterHub using root)
#

[2018-09-14 07:37] fishfree opened #1010 "Can nbgrader_config.py be automatically created by assigning the course name and folder in the Web UI?"
Now I have to firstly create a text file, writing into the config lines, then rename it to nbgrader_config.py. So it's not very intuitive for a novice user of Jupyter.

[2018-09-14 08:27] #1009 closed

[2018-09-17 01:25] fishfree opened #1011 "Is "Student ID" equivalent to the username in a Linux system?"
In the "Add new student" dialog, should I input a valid Linux username( or JupyterHub login username) as the Student ID?

[2018-09-17 09:47] DavidNemeskey opened #1012 "Add warning when course root is not accessible from notebook root"
### Operating system
Ubuntu 16.04

### `nbgrader --version`
0.5.4

### `jupyterhub --version` (if used with JupyterHub)
0.8.1

### `jupyter notebook --version`
5.6.0

### Expected behavior
I set the `CourseDirectory.root` to `/opt/submissions`. I expected that this would allow me to have multiple teachers work on the same course (adding students, creating assignments, etc). OK, I know that I shoul

[2018-09-17 09:48] DavidNemeskey commented on #1012
I know of #859 and #866, but I am on 0.5.4, and #866 was supposedly merged in 0.5.3.

[2018-09-18 22:00] pankajkumar229 opened #1013 "NBGrader with cling kernel"
### Operating system
Linux Debian wheezy

### `nbgrader --version`
nbgrader version 0.5.4

### `jupyterhub --version` (if used with JupyterHub)

### `jupyter notebook --version`
5.5.0

### Expected behavior
I am using the C++ cling kernel with NbGrader and running into some issues.
1. assert(false) or another method causes 0 points and program continues.
2. cell execution if it throws uncaught exc

[2018-09-20 19:53] hkarl commented on #986
Even with JUnit assertions, this does not really work. I tried a notebook as follows:

![image](https://user-images.githubusercontent.com/1374616/45843301-82bf2180-bd1f-11e8-9681-829248641a0d.png)

It correctly throws an error and shows this when I run the cell. With my limited knowledge of how kernel and browser interact, I would think that means error messages are correctly transported?

But whe

[2018-09-21 06:48] hkarl commented on #986
Digging around some more:  When putting  `print (msg)` in nbbase.py:output_from_msg(msg), an incorrect answer in a Python autograder-test gives:

[code]

but the corresponding output from a failed Assertion in a Java notebook gives:

[code]

Is it possible that the different ename values ( `AssertionError` vs. `EvalException`) lead to different treatment later on? (Trying to trace this down curren

[2018-09-21 19:05] sigurdurb commented on #1013
Maybe this is something you should open on the quantstack cling repo because the assert(false) is just the behaviour you would get in a normal C++ jupyter notebook cell, nbgrader works if there is an exception thrown:
For example you could set your tests up like this:
[code]

[2018-09-21 19:13] sigurdurb commented on #1012
Is there any reason you don't have your course set up as a managed service and then only allow certain users to that service? Let me know if you need any help if you decide to do that 💃

[2018-09-21 19:29] sigurdurb commented on #996
What LMS system are you using @kxiluri ?
I developed a python script that sends nbgrader grades and feedback to CanvasLMS if you need but it has to have the mapping to the canvas login_id's to the student.id in gradebook.students

[2018-09-22 07:39] DavidNemeskey commented on #1012
What do you mean by "not set up as a managed service"? (Preferably with links, please.) I am using the https://github.com/jupyterhub/jupyterhub-deploy-teaching repo, so I do have PAM authentication via JupyterHub. That is not the problem.

The problem is that if there are multiple teachers, they cannot cooperate on a single assignment, because each can only work in their own home. If nbgrader root

[2018-09-22 13:42] sigurdurb commented on #1012
Managed service is basically having a notebook server running under the /services url.
So step one is creating a new user on the system

For example:
`adduser --home /home/testcourse20183 --gecos "" --disabled-password testcourse20183`
I set up mine based on [this config](https://github.com/jupyterhub/jupyterhub/blob/master/examples/service-notebook/managed/jupyterhub_config.py)
But I also added s

[2018-09-24 01:16] datacabinet commented on #1013
Hi, I am using the C++ kernel integrated with root cling repo. The kernel dies if there is an uncaught exception leaving the cell. In regular C++, if exception is uncaught, it causes the process to exit. What should the behavior be for Jupyter and NBGrader? Could there be a particular type of exception that can be raised from C++ that can be caught when running under NBGrader and ignored?

[2018-09-24 01:17] pankajkumar229 commented on #1013
Hi, I am using the C++ kernel integrated with root cling repo. The kernel dies if there is an uncaught exception leaving the cell. In regular C++, if exception is uncaught, it causes the process to exit. What should the behavior be for Jupyter and NBGrader? Could there be a particular type of exception that can be raised from C++ that can be caught when running under NBGrader and ignored?

[2018-09-25 17:36] Carreau opened #1015 "Update documentation links."
Many links in the documentation are 404 (for example) continuum is now anaconda, and make th test fails.

It should be easy to either update the links, or remove rephrase the corresponding sections.

[2018-10-01 05:38] amrs-tech commented on #1015
I'll try to sort out this issue. Can you please assign it to me?

[2018-10-01 05:43] amrs-tech commented on #1015
Can you please mention the file(s) which is to be updated ?

[2018-10-01 15:42] Carreau commented on #1015
If you look at some of the latest [tests of the Documentation Build](https://travis-ci.org/jupyter/nbgrader/jobs/433069483), you will see near to the end that many links are red with reason as to why.

I see that someone submitted #1016, so check the latest tests

[2018-10-02 14:01] mathagician commented on #1015
I would like to pick some. Could please help and suggest how and which one to take.

[2018-10-04 08:32] dechristo commented on #818
@jhamrick Hi! So sorry for long delay.
I opened a pull request for this: [https://github.com/jupyter/nbgrader/pull/1019](https://github.com/jupyter/nbgrader/pull/1019)
Thanks a lot for your  support and once again sorry that it took so long.

[2018-10-04 08:35] mddarmawan commented on #1015
@Carreau me too. Would you please mention me the files which is to be updated?

[2018-10-06 13:31] jhamrick commented on #993
Could you send me a copy of a notebook where you have this problem? It's not something I am currently able to reproduce.

[2018-10-06 13:36] jhamrick commented on #995
`nbgrader db assignment remove` does not un-release assignments, it only removes the assignment from the database. This could be clarified in the documentation, however. Additionally, it might be a good idea to add to the documentation all the steps that might need to be taken to completely remove an assignment, which are to:

1. Unrelease it (`nbgrader list --remove <assignment_name>`)
2. Remove

[2018-10-06 13:42] stvmachine commented on #1015
@Carreau hi, i would love to help too

[2018-10-06 13:53] jhamrick commented on #992
Hmm, I have not tried before to use the nbgrader REST API from a separate application, so I'm not 100% sure. nbgrader itself doesn't handle any authentication---any auth that is required comes either from the notebook server or from JupyterHub. For example, if I run the notebook server (`--NotebookApp.token=''`, not recommended!) then it is totally fine for me to just to do the GET request without

[2018-10-06 13:55] jhamrick commented on #996
Indeed, as the issue @maryamdev linked to explains there is currently not functionality within nbgrader to *return* feedback (and there never has been, unfortunately).

I am going to close this as a duplicate.

[2018-10-06 13:55] #996 closed

[2018-10-06 13:58] jhamrick commented on #997
Confirmed, setting the `NbGrader.logfile` config value doesn't seem to change the logfile that's used.

[2018-10-06 14:04] jhamrick commented on #998
I think what you're describing is possible if you follow the instructions for "Multiple Classes" on the page you linked to---you do need to create multiple JupyterHub services (one per class) but you should be able to access those services from the same user account assuming that account is listed under `c.JupyterHub.load_groups`. Or perhaps I am not quite understanding your use case?

[2018-10-06 14:15] jhamrick commented on #1004
Confirmed, though this seems to only be a problem when running autograde through the formgrader interface, as far as I can tell (was that the case for you too, or were you running `nbgrader autograde` through the command line?)

[2018-10-06 14:16] jhamrick commented on #1006
I unfortunately don't have the cycles to work on porting this over, but I agree it is something that should probably be done...

[2018-10-06 14:31] jhamrick commented on #1010
Unfortunately you'll have to provide a bit more detail here as I'm not sure which part of the UI you're referring to. If you could provide a screenshot of the part of the web UI you're referring to that would be helpful.

One thing we could do would be to have an option to run `nbgrader quickstart` from the formgrader, to initialize the `nbgrader_config.py` file. Currently if you run the formgrade

[2018-10-06 14:32] jhamrick commented on #1011
If you are using JupyterHub, then yes, the student ids should correspond to JupyterHub login usernames. If you are not using JupyterHub, then they can be any id you want to use to identify students.

[2018-10-06 14:39] jhamrick commented on #1012
Hmm, yeah, this has to do with the fact that nbgrader is running as part of the notebook server, which does not allow you to access notebooks outside of the directory where it is running. So it's not a limitation of the home directory itself, but a limitation that you cannot set the course directory to be outside the directory where the notebook server is running.

To support having multiple grade

[2018-10-06 14:40] jhamrick commented on #1012
One thing we could potentially do is try to check if the root is being set outside the root of the notebook directory, and warn the user that this is not possible and point them to the relevant documentation for how to set up the JupyterHub service instead.

[2018-10-06 14:45] jhamrick commented on #1013
This is unfortunately not something that we can handle specifically in nbgrader, which just checks whether there is an "error" output on the cell or not. The error output is put there if, when executing the kernel (which is done by nbconvert rather than nbgrader), the kernel sends an error message kernel reply. So it is up to the kernel to send this message. (It is up to the C++ kernel mainainters

[2018-10-06 15:10] jhamrick commented on #950
Yeah, if this is something that is fixed in nbgrader via the workarounds listed in the nbconvert issue, then I think it makes sense to close this issue and try to get it fixed upstream in nbconvert.

[2018-10-06 15:11] #950 closed

[2018-10-06 15:12] jhamrick commented on #956
Mostly it occurs in tests, but also a few cases in the docs so those should be changed as well.

[2018-10-06 17:36] #978 closed

[2018-10-06 17:40] #818 closed

[2018-10-06 22:48] jhamrick commented on #1015
This has been fixed by #1016 and #1017

[2018-10-06 22:48] #1015 closed

[2018-10-06 22:49] jhamrick opened #1022 "Fix handling of new submission filenames in nbgrader list"
See #1005

cc @rkdarst

[2018-10-07 07:45] sondr3 commented on #992
This was for a trial run of an application we were developing but we ended up using the Python API directly instead, but thanks for taking your time to respond.

[2018-10-07 07:45] #992 closed

[2018-10-07 10:09] adityashrm21 commented on #969
Is there anything pending on this issue?

[2018-10-07 11:14] jhamrick commented on #969
Oh, there's not, it just didn't get automatically closed when #994 was merged. Good catch!

[2018-10-07 11:14] #969 closed

[2018-10-07 12:08] jhamrick commented on #483
@rkdarst This is great. Honestly, I think the less we have to modify about nbgrader to get this to work, the better... so I love the idea of using a restricted kernel. Do you think the isolate script works with other kernel types as well? i.e. do you think it would be straightforward to maybe do something like create a little command that wraps an arbitrary kernel (python, ruby, javascript, ...) a

[2018-10-07 16:42] jhamrick commented on #862
Fixed by #989

[2018-10-07 16:42] #862 closed

[2018-10-07 17:14] jhamrick opened #1027 "Fix flaky formgrader test"
There is a flaky formgrader test in `nbgrader/tests/nbextensions/test_formgrader.py` called `test_same_part_navigation` which keeps failing with various related errors from Selenium, such as that the browsing context has been discarded or that it can't decode a response from Marionette, for example:

https://travis-ci.org/jupyter/nbgrader/jobs/438308641#L1083

I can't figure out why this is but ma

[2018-10-07 17:15] jhamrick commented on #1027
I should mention that part of the difficulty of debugging this is that I haven't been able to reproduce it locally---it only seems to fail on Travis 😞

[2018-10-07 17:38] rkdarst commented on #483
The isolate script *should* work as long as you can whitelist certain paths to pass in.  It might be hard to find what they are (I want to add an option to infer them from PYTHONPATH, could be same for other languages).  (I'm still not sure if I'm pleased or disgusted by `isolate.sh` - I liked making it, but I'd wish there is something with better support.)

I think my favonite way would be to add

[2018-10-07 19:12] #956 closed

[2018-10-07 19:45] jhamrick commented on #966
I am going to close this since there hasn't been any activity on this issue for a while, but feel free to open new issues if there are specific things you need addressed!

[2018-10-07 19:45] #966 closed

[2018-10-07 19:49] jhamrick commented on #960
It sounds to me like this is something that would be better served by a JupyterHub service which knows how to talk to LTI, rather than adjustments to nbgrader. As I mentioned above, even if you created a shared database for the different courses, you would still need to manually configure the separate course directories and nbgrader_config.py files. So it sounds like what you want is actually a se

[2018-10-07 21:30] jhamrick commented on #945
I'm going to close this since there hasn't been any activity on this issue in a while, but feel free to open a new issue if you have further questions.

[2018-10-07 21:30] #945 closed

[2018-10-07 21:43] jhamrick commented on #931
The solution for this issue is to add a note to the FAQ describing the error (that the kernel gets interrupted either during validation or during autograding), and then describing the solution, which is to put something like the following in `nbgrader_config.py`:

[code]

[2018-10-08 05:00] fishfree commented on #1010
@jhamrick Yes, it will be wonderful to have a button on which click to execute `nbgrader quickstart` command. It will be much more intuitive.

[2018-10-08 07:36] perllaghu commented on #998
There is a definite use-case here:
Jupyter Notebooks are provided as a central service, thus multiple classes/courses use a single instance (as opposed to a new instance is spun up for each course)

In this model, authentication is often provided via an LTI connection, and the role of the user is defined in an LTI parameter. In such a situation, it is inevitable that one `userid` will be an instru

[2018-10-08 08:02] perllaghu commented on #960
So what we're currently working on is thus:

- User "logs into jupyterhub": this is an OAuth connection from a Blackboard/Moodle/whatever service, using an LTI connection
- The OAuth connection supplies `username`, `course`, and `role` (plus some other stuff, not relevant here)
- We have a module that defines various `volumes` for the user, and asks jupyterhub to spawn a Notebook Server for the us

[2018-10-08 09:17] jhamrick commented on #998
For the "Multiple Classes" instructions I mentioned it is a single instance of JupyterHub (not one per course), but that JupyterHub instance runs multiple *services* of nbgrader (one per course). Multiple instructors for the same course just need to be mapped to the relevant nbgrader services in the `jupyterhub_config.py`.

This isn't really a nbgrader thing; it's purely done through JupyterHub: n

[2018-10-08 12:03] rkdarst commented on #998
I'm not doing exactly what you are trying, but it is related.   I think our view are similar because we both see users as the primary objects, not the hub or hub services. (for different reasons, I don't like the idea of a hub service running outside the control of any particular actual user account).  I solved the problem by having server spawn options for different courses, and then the `pre_spa

[2018-10-08 14:08] mozebdi commented on #931
Making a fork and PR'ing this 😄

[2018-10-08 19:08] Leslie-C commented on #999
I did a complete wipe/reinstall of nbgrader and the classroom, and that fixed whatever the issue was. Thank you for checking in.

[2018-10-08 20:09] sgvasquez commented on #998
Hello! I'm working with @FranLucchini with JHub and Nbgrader. The case we are currently working on is when a grader wants to create, release and collect assignments for two (or more) different courses he/she is in charge of. Currently in the Formgrader tab we are able to do actions on assignments on only one course, the one that is currently defined in nbgrader_config.py, inside the grader's home

[2018-10-09 07:28] dechristo commented on #965
@jhamrick  Hi! Can I work on this one?

[2018-10-09 19:34] jhamrick commented on #965
Sure! Though I should mention there is actually quite a lot that will need
to be done for this issue, just so you're aware. First, since it requires a
modification to the database it will require using Alembic for migration
(see the docs which describe this a bit further). Second, it will require
detecting when there are changes being made to the gradebook and recording
the modification time. It m

[2018-10-09 19:38] dechristo commented on #965
@jhamrick yeap! No problem. I will dig into that. =)

[2018-10-09 19:53] jhamrick commented on #998
It sounds like there is a lot of interest in having the formgrader support multiple classes, so perhaps it is worth considering adding this feature---though it will be a substantial amount of work, as all of nbgrader's machinery currently makes a strong assumption that the course directory manages exactly one course. I unfortunately don't have the bandwidth at the moment to implement something lik

[2018-10-09 19:59] #931 closed

[2018-10-10 07:21] perllaghu commented on #1010
I'm in the process of changing code so that the `course-id` is read from an environment variable - so combining this with the idea that the `course-id` is defined by some external agency.

.... dynamically changing the `nbgrader_config.py` file may be the simplest solution with the current model

[2018-10-10 10:09] perllaghu opened #1030 "Multiple instructors, multiple courses, and multiple solutions"
# This is a discussion-point, to try and bring together the various threads

We have a number of similar threads on multiple courses, multiple instructors, and the possibility of an external exchange service.

We all want to use NBGrader, as it's an excellent tool for creating tests & grading the responses.

It would be good to get a common solution, or at least several non-exclusive solutions, fo

[2018-10-10 10:30] jhamrick commented on #1030
Great idea, thanks for creating this thread. Maybe let's explicitly ping some of the other people who have been thinking about this lately or might be interested in this discussion: @FranLucchini @rkdarst @sgvasquez @fishfree @zonca @sigurdurb @yuvipanda @dsblank

* Related issues: #998 #961 #960 #544 #659
* Related PRs: #893 #1000

(Please feel free to reference any additional issues/PRs if I mis

[2018-10-10 10:44] perllaghu commented on #1030
# Environment

* Running in a Kubenetes cluster, with everything as Docker Images
* Pros:
   * One central service for the whole organisation
   * Platform can be scaled by adding/removing worker nodes as needed (scale to suit load)
   * External service can deploy from a selection of Notebooks (different courses need different libraries)
   * Can use external data for users persistent storage (Ne

[2018-10-10 10:46] perllaghu commented on #1030
Also related: #1010

[2018-10-10 18:13] Tshimangadzo opened #1031 "I extend NBGrader to enable the automated assessment of SQL statements"
I am new to **Nbgrader**, i come up with the problem on how can i extend NBGrader to enable the automated assessment of **SQL statements**

[2018-10-10 20:29] jhamrick commented on #1031
nbgrader isn't really designed to grade any particular type of
language---even though the default is python, it is meant to work with any
type of Jupyter kernel. As far as I know there isn't a kernel specifically
for SQL, but I believe you can run SQL commands in the python kernel using
the `%%sql` magic. But overall it is up to you as an instructor to design
the tests for checking that the sql co

[2018-10-11 13:34] sgvasquez commented on #1030
# Enviroment

Currently using the basic system, and we intend to use deployment with either Docker or Kubernetes in a future.

# Aims

* To allow users to be enrolled in more than one course at a given time, having an user-friendly UI that allows them to browse their courses and assignments in a simple way (current solution in docs allow students to have access to all courses at a given time, whic

[2018-10-11 13:47] dsblank commented on #1030
Rather than an external service, you can build on JupyterHub's services. See for example these two services:

https://github.com/BrynMawrCollege/jupyterhub

You can make sure that they are logged in, and then perform the various functions (retrieving class rosters for the teacher, etc.). Sounds like a great idea!

[2018-10-11 15:30] sgvasquez commented on #1030
@dsblank Thanks for the feedback! We are planning to work on this ASAP, although I haven't worked with services before. Is there any guide on how to make good services? I'm thinking that for our solution (I'm working with @FranLucchini in this), we'll need to be able to pass parameters (current user id, course id, student ids in case of a grader) and receive responses to/from the service dinamical

[2018-10-12 14:13] dsblank commented on #1030
The main docs are here: https://jupyterhub.readthedocs.io/en/stable/reference/services.html

It is just a regular web endpoint, so you should be able to do whatever you want. You will be able to check to see if the user is logged in, and get their user_id, for example.

[2018-10-12 20:00] pankajkumar229 commented on #1013
Thanks! We will try fix and submit a patch to the cling kernel.

[2018-10-13 07:17] isaurssaurav commented on #971
@i02momuj  ,
I had a same error while back. It just happens to be that `nbgrader_config.py` file should be in its destination (in your case `/home/curso5`) **before a user is spawned**.
So either you can place `nbgrader_config.py` file at _pre_spwan hook_ , or attached into singleuser's image file.

[2018-10-13 11:30] isaurssaurav commented on #1009
Did you put `nbgrader_config.py` file before or after jupyter-notebook spwaned ?
It just happens to be that `nbgrader_config.py` file should be in its destination (`/home/[user_name]`) **_before a notebook is spawned_**.
So either you can place` nbgrader_config.py` file at` pre_spwan hook` , or attached into singleuser's image file.

[2018-10-14 06:11] fishfree commented on #1011
@jasongrout Thank you!

[2018-10-14 18:32] perllaghu commented on #1030
@fishfree - remember that NBGrader itself has no need to know about LTI .... however it would be good if it coukd work in a JupyterHub environment driven by LTI connections.

[2018-10-15 08:01] perllaghu commented on #1030
I was thinking about this over the weekend.... and I think there are three distinct, but inter-related, parts that need to be resolved:

1. The `formgrader` and `assignements` functions need to be able to cope with multiple courses (and, consequently, multiple roles)
1. Abstract the `exchange` functionality and move towards an API-based system (such as `hubshare`.)
1. Acknowledge `LTI` as a potent

[2018-10-15 08:06] moschlar commented on #1030
# Environment
- On-Premises Kubernetes Cluster deployed with [Rancher 2.x](https://rancher.com/docs/rancher/v2.x/en/)
- Setup according to [Zero to JupyterHub with Kubernetes](https://zero-to-jupyterhub.readthedocs.io/en/stable/)
  * OpenID Connect authentication
  * NFS as storage provider using [nfs-client-provisioner](https://github.com/helm/charts/tree/master/stable/nfs-client-provisioner)
- C

[2018-10-15 08:19] perllaghu commented on #1031
When you say _assessment of SQL statements_ are you looking to check they're "well formed" statements, or that they produce valid output?

To check they're "well formed", you can use libraries like `sqlparse`

But _valid_ is a whole different ballgame - see https://www.reddit.com/r/learnpython/comments/72ec9h/sql_validator_in_python/

[2018-10-15 08:45] moschlar commented on #1030
We have central NFS storage (NetApp appliance) which exports a volume (with sec=sys) for the Kubernetes cluster. And then we use nfs-client-provisioner to provision directories for each PersistentVolumeClaim.
Seems to work so far!

[2018-10-15 15:02] moschlar commented on #1030
Today was the first lecture and we had ~160 simultaneous users (should be ~300, if the wifi would work :grimacing:).

We currently only have one course so that problem didn't come up yet...

But while reading through the docs and source code, I made a mental note that we could maybe solve it using the [Spawner options form](https://github.com/jupyterhub/jupyterhub/blob/master/docs/source/reference

[2018-10-16 09:12] perllaghu commented on #1030
@moschlar - this is a cut-down version of the options dict we pass to the `kubespawner` in JupyterHub.

[code]

[2018-10-17 20:36] sigurdurb commented on #1013
@pankajkumar229 The same problem exists with the Octave kernel [https://github.com/Calysto/octave_kernel](https://github.com/Calysto/octave_kernel)
Maybe you can strike two birds with one stroke if you are looking at a fix for the cling kernel.
## Example Octave problem on the students side
[code]
[code]
### Unexpected behaviour when student presses Validate button -> "Success all tests pass" when

[2018-10-18 01:50] blink1073 commented on #1013
The issue we have with the Octave kernel is that we are communicating with the Octave process using a pty, which conflates stderr and stdin.  You could in theory use a regex to determine what is an "error", if someone wanted to pursue that path.

[2018-10-20 22:07] adibaba opened #1033 "Manual grading after interrupted kernel"
### Operating system

Ubuntu 18.04 LTS

### `nbgrader --version`

Python version 3.6.6 | packaged by conda-forge | (default, Jul 26 2018, 09:53:17)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)]
nbgrader version 0.5.4

### `jupyterhub --version` (if used with JupyterHub)

0.9.4

### `jupyter notebook --version`

5.7.0

### Expected behavior

After executing `nbgrader autograde`, and exceeding the `Execut

[2018-10-20 23:52] bbhopesh commented on #917
HI @jhamrick. I need this feature too. Has anyone started working on this? I can if no one is.

I also wanted to hear your thoughts on how to approach this technically. Cell metadata doesn't contain any information indicating if test case is hidden or not, so we probably can't do it in the feedback template. We can either add metadata and then take care of it in the template or do some preprocessi

[2018-10-22 18:29] hkarl commented on #979
Seems related: https://github.com/jupyter/nbgrader/issues/578 (last comment tries to update)

[2018-10-23 18:06] magsol commented on #979
It's possible.

I can go ahead and close this issue for now, as I don't seem to be encountering this behavior anymore. I started teaching a new class this fall and did not encounter any problems with the assignment listings. That said, it seems unlikely that this problem magically disappeared; I have not updated nbgrader since before these problems started happening, so I'll need to go back and tr

[2018-10-23 18:06] #979 closed

[2018-10-26 20:13] jnak12 opened #1034 "Document how to access the formgrader when it is a JupyterHub service"
### Operating system
FreeBSD 11.2 64 bit
### `nbgrader --version`
5.4
### `jupyterhub --version` (if used with JupyterHub)
0.9.4
### `jupyter notebook --version`
5.7
### database
postgresql 10.5

Hi,

I have created a course account and two other user accounts.
JupyterHub has been set up as a  managed shared notebook to the course account
with the two users as part of the group.

An assignment was

[2018-10-29 15:22] sigurdurb opened #1035 "Add a lms_user_id"
Hi,

I want to add an optional lms_user_id variable to the students in the nbgrader db. So Teachers and TA's can easily send grades using their api keys to Canvas LMS.

For context CanvasLMS has a user_id that is always a random number.

This change is for 3 important reasons:
1. user_id is the only parameter which by submissions can be updated in Canvas: Important aspect(see [https://canvas.instr

[2018-10-29 16:47] perllaghu commented on #1035
I was looking at this for the exchange-service I'm writing.

If the extra column has a suitable vague name, it can be used to match *any* external UID to the jupyterhub-specific UID.

[2018-10-30 12:41] sigurdurb opened #1039 "Language support"
I would like to add language support for Octave kernel.
And make it easier to add more languages and not have the code that checks for errors in two places like it is now in validator._extract_error and utils.determine_grade

You can see the code in this PR I just made that describes the changes better: #1038

[2018-11-01 15:19] AKuederle opened #1041 "Use Nbgrader without a DB in simplest way possible"
I am trying to use nbgrader for a course I am supervising. However, due to logistics of the course I only need a very small subset of the available features.

Specifically, I just want to generate an assignment version of my notebooks, without any added features. Meaning, I just want to strip the solution blocks and potentially hide specific test cells.

What would be the easiest way to do this? T

[2018-11-02 07:46] mqyang56 opened #1042 "UnicodeDecodeError appeared on CentOS,but not appeared on MacOS or Ubuntu"
[code]

[2018-11-13 10:57] slel opened #1043 "Style questions and answers differently"
Text-mode answers in markdown cells tend not to stand out from the
context and questions of the assignment, which are typically other
markdown cells around them.

One workaround I sometimes use is to use "quoted" style for context
and questions; then the student's answers, not being quoted, sort of
stand out. One could also imagine stying the context and questions
(or the answers) with a different

[2018-11-13 10:59] slel commented on #1043
This is really about assignments given out as jupyter documents
not using nbgrader; in the case of nbgrader the styling is very clear.
Sorry for the noise. Closing.

[2018-11-13 10:59] #1043 closed

[2018-11-14 05:39] #1042 closed

[2018-11-22 17:41] jedbrown opened #1044 "pyenchant is unmaintained"
There doesn't appear to be anyone stepping forward to take over maintenance. This dependency may be an issue going forward. https://github.com/rfk/pyenchant/network

Cc: https://github.com/openjournals/jose-reviews/issues/32

[2018-11-22 18:23] jedbrown opened #1046 "Public side-effects of running tests"
Running the test suite currently tries to create/modify a `sitecustomize.py` in a system path. This file is often not owned by the user and in any case, has public side-effects if other python programs run while the tests run. Instead of these manipulations in `tasks.py`, I think it would be preferable to just have a static file in the nbgrader source and add its directory to PYTHONPATH. Do you fo

[2018-11-22 23:07] pankajkumar229 commented on #1013
It seems to be a little easier for C++ kernel: https://github.com/root-project/cling/pull/272 . I will let you know if it gets accepted. We still have the infinite loop problem. If there is too much traffic with a infinite print statement, maybe Jupyter needs a method to disable that.

[2018-11-24 02:03] SylvainCorlay commented on #1013
@pankajkumar229 you may be interested in trying out the xeus-cling kernel which also supports rich display and interactive widgets!

[2018-11-24 02:09] datacabinet commented on #1013
I thought they were the same thing. Do you know what the relationship is between the two projects?

[2018-11-24 09:45] SylvainCorlay commented on #1013
@datacabinet both are based on the cling C++ interpreter.

- the kernels included in root and cling are based on `ipykernel`, the reference python implementation of the Jupyter protocol, which wraps calls to cling and composes the messages

- `xeus` is a C++ implementation of the protocol, which can be used to make kernels. xeus-cling is the C++ kernel based on xeus, xeus-python is a new Python ke

[2018-11-27 05:55] Bermanmt opened #1048 "Formgrader showing 404"
I deployed Jupyterhub on a Digital Ocean Droplet (Ubuntu 18.04 x64 )
nbgrader version: 7.2.0
jupyterhub version: 0.9.4
Jupyter Notebook version: 5.7.2

I followed the different solved issues and I have used both of these flags:

jupyter nbextension install --sys-prefix --py nbgrader --overwrite
jupyter nbextension enable --sys-prefix --py nbgrader
jupyter serverextension enable --sys-prefix --py n

[2018-12-04 09:54] 00Kai0 commented on #1048
You should print you log and find error message in your log.

[2018-12-06 14:44] willingc commented on #1046
Yeah, it would be good to remove the usage of `sitecustomize.py`. Probably makes sense to refactor the test runs as well. It would be nice to remove the dependency on invoke too.

[2018-12-06 14:58] willingc commented on #1048
Hi @Bermanmt,

It can be helpful when troubleshooting to start nbgrader with the `--debug` command line option and then review the logs.

`nbgrader -h` will display all of the available logging options. Please feel free to share the output here.

[2018-12-13 05:51] rokinmaharjan commented on #1004
@jhamrick Any updates on this?

[2018-12-13 05:59] saurssauravjs commented on #1004
@rokinmaharjan , Its issue i have been facing since last week. Hope to see some updates in it!

[2018-12-13 17:02] mhwasil commented on #729
I got the same problem with [xlrd](https://pypi.org/project/xlrd/), pandas and matplotlib
* nbgrader --version
[code]
* which nbgrader
[code]
* python3 --version (we are using python 3)
[code]
* python3 -c "import xlrd" works in terminal
* python3 -c "import pandas" also works in terminal
* nbgrader autograde --log-level=DEBUG --student student --assignment assignment01
[code]

We got this error i

[2018-12-15 15:30] jhamrick commented on #917
Off the top of my head, I think the way to do this would be to run the `ClearHiddenTests` preprocessor during the feedback step.

[2018-12-15 15:42] jhamrick commented on #578
Hmm. I am not sure why the issue would only affect 10% of students... it sounds like maybe there is a race condition somewhere. I am reopening this so we can track it.

[2018-12-15 16:14] jhamrick commented on #1046
Agreed, all that stuff is there back from when we were running a lot of subprocesses in the tests which weren't by default getting test coverage. But I think that shouldn't be an issue anymore, so we can remove everything having to do with sitecustomize.py.

I'm fine removing the dependency on invoke, too---it's pretty lightweight at this point and we could do everything just with standard argumen

[2018-12-15 16:15] jhamrick commented on #1044
Agreed, I think we can just remove the spell checking from the docs and then also remove pyenchant.

[2018-12-15 16:39] jhamrick commented on #1041
This isn't supported directly by nbgrader, but it should be possible to do with nbconvert by requesting that it use the relevant nbgrader preprocessors:

* IncludeHeaderFooter
* ClearSolutions
* LockCells
* ClearOutput
* ClearHiddenTests

I believe @choldgraf has implemented something like this?

[2018-12-15 18:15] willingc opened #1052 "Try Azure Pipelines for greater test speed"
We've found that Azure Pipelines is much faster on tests than Travis for CPython. NumFOCUS projects are currently free on Azure Pipelines. This may help with tests esp. on Windows.

[2018-12-15 18:42] #1044 closed

[2018-12-15 19:07] jhamrick commented on #993
I am closing this issue because there hasn't been any activity on it in a while. However, if you (or others) continue to encounter problems, feel free to comment here or open a new issue!

[2018-12-15 19:07] #993 closed

[2018-12-15 19:09] jhamrick commented on #1031
I am closing this issue because there hasn't been any activity on it in a while. However, if you (or others) need any more help, feel free to open a new issue!

[2018-12-15 19:09] #1031 closed

[2018-12-15 19:11] jhamrick commented on #1007
I am closing this issue because there hasn't been any activity on it in a while. However, if you (or others) continue to encounter problems, feel free to comment here or open a new issue!

[2018-12-15 19:11] #1007 closed

[2018-12-15 19:11] jhamrick commented on #1011
I am closing this issue because there hasn't been any activity on it in a while. However, if you (or others) continue to encounter problems, feel free to comment here or open a new issue!

[2018-12-15 19:11] #1011 closed

[2018-12-15 20:48] #1046 closed

[2018-12-15 21:12] willingc commented on #1046
Nicely done @jhamrick :cake:

[2018-12-16 09:36] mhwasil commented on #729
Great,
It works with --force.
nbgrader autograde --log-level=DEBUG --student student --assignment assignment01 --force

Thanks @jhamrick.

[2018-12-17 15:59] samuelmanzer opened #1056 "Non-Deterministic Behavior of Validate when Exceptions are Thrown"
### Operating system
[code]

### `nbgrader --version`

[code]

### `jupyterhub --version` (if used with JupyterHub)
[code]

### `jupyter notebook --version`

[code]

### Expected behavior

`nbgrader validate` succeeds every time

### Actual behavior

`nbgrader validate` fails erroneously and non-deterministically a subset of the times that it is run.

### Steps to reproduce the behavior

Running `

[2018-12-17 16:12] samuelmanzer commented on #1056
Note also that any time of exception (not just an `AssertionError`) can trigger this non-determinism, for example the following notebook is also a good test case, though again you may have to run this multiple times in order to reproduce the error - it seems to trigger more reliably when 'validate' is called from the jupyter the UI, not the command line:

[code]

[2019-01-02 20:40] jhamrick commented on #1056
Hmm, interesting, thanks for tracking this down! I think the right way to fix this is to actually make a change in nbconvert, rather than nbgrader itself. Specifically, the call to the kernel client happens here:

https://github.com/jupyter/nbconvert/blob/master/nbconvert/preprocessors/execute.py#L438

Which just relies on all the default arguments. However, the execute preprocessor already has an

[2019-01-03 00:38] yoonghm opened #1058 "nbgrader install hang"
### Operating system

Linux devel 4.15.0-43-generic #46-Ubuntu SMP Thu Dec 6 14:45:28 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

### `nbgrader --version`

Trying to install via `conda install -c conda-forge nbgrader` on 3-Jan-2019

### `jupyterhub --version` (if used with JupyterHub)
0.9.4

### `jupyter notebook --version`
5.7.4

### Expected behavior
I tried to install nbgrader but it stopped at la

[2019-01-03 11:47] jhamrick commented on #1058
Hmm, thanks for reporting. For now it should hopefully still work to
install nbgrader with pip? I'll try to have a look tonight to see what the
issue is.

On Thu, Jan 3, 2019 at 12:38 AM YoongHM <notifications@github.com> wrote:

[2019-01-07 08:16] jhamrick commented on #1058
Can you try installing from conda again and let me know if the problem
still exists?

On Thu, Jan 3, 2019, 5:26 PM YoongHM <notifications@github.com wrote:

[2019-01-07 10:52] AdrianGabrielMW commented on #1058
Hi @jhamrick,
we are also getting this error:
`...
DEBUG conda.resolve:filter_group(277): colorama: pruned from 43 -> 10
DEBUG conda.resolve:filter_group(277): mpmath: pruned from 36 -> 11
DEBUG conda.resolve:filter_group(277): pycparser: pruned from 38 -> 13
DEBUG conda.resolve:filter_group(277): sympy: pruned from 69 -> 12
DEBUG conda.resolve:filter_group(277): anaconda: pruned from 115 -> 0`

[2019-01-07 23:33] sigurdurb opened #1060 "Link to course services for teachers/TA's in their Jupyterhub user-home."
I notice some teachers/TA's want a link in their users home to their service where the nbgrader course is managed. Instead they have to remember and write their path /services/{course-id}

I want them to be able to see their course either as a menu-list in the toolbar or under the Assignments tab.

In #1040 multiple course PR we are working from the idea that every Jupyter group that is named nbgr

[2019-01-13 19:01] AKuederle commented on #1041
@choldgraf @jhamrick Thank you very much for your input! `nbclean` looks exactly like the tool I was looking for!

[2019-01-13 19:01] #1041 closed

[2019-01-14 21:11] tonyweed commented on #1009
Hi, can you take more of a look into why this occurs? I'm running into the same issue here, and do have a valid nbgrader_config.py file in the directory where jupyterhub is running from.

[2019-01-15 17:55] isaurssaurav commented on #1009
I had a same error while back. It just happens to be that nbgrader_config.py file should be in its destination ( /home/{username}) before a user is spawned.
So either you can place nbgrader_config.py file at pre_spwan hook , or attached into singleuser's image file.

[2019-01-23 05:13] ttimbers commented on #979
I can confirm that I just replicated a similar behaviour. On my laptop, `gradebook.db` needs to be in the root of the nbgrader directory (that has `source`, `release`, etc) but on the JupyterHub server, it needs to be one directory above that...

[2019-01-23 05:19] ttimbers commented on #916
How is this going? I repeatedly run into this issue across machines (that are not too different in versions, but are different enough I guess...)

[2019-01-23 07:11] ttimbers opened #1062 "Trying to install dev version of nbgrader in Docker"
I am trying to install the dev version of nbgrader in a Docker image for use with Jupyterhub. I get this error when I try:

[code]

### Operating system
This docker stack: https://github.com/UBC-DSCI/docker-stacks

And specifically, this Dokerfile:

[code]

### `nbgrader --version`
https://nbgrader.readthedocs.io/en/latest/contributor_guide/installation_developer.html (I think 0.6.0.dev)

### Step

[2019-01-23 17:01] alirezamecheng opened #1063 "Implement support for nbgrader in JupyterLab"
Hello,
I saw a video about using nbgrader, and it seems that you have done a great job.
I was wondering if it is possible to install nbgrader extension for `JupyterLab` within the jupyterhub?
Can you please help me, how to do that?
thanks for your time.

[2019-01-28 15:59] tmetzl opened #1065 "Question / Taskview for grading"
Hello,

we are working with nbgrader at our university and the graders have requested a different view for grading.
Instead of showing a whole notebook we want to only show certain cells (e.g. all with the keyword 'Task1' in the grade_id). The result should be a view where the grader only sees one specific task consisting of one cell stating the task, one cell showing the students answer and if ap

[2019-01-31 14:11] whositwhatnow commented on #1048
did you setup your nbgrader config?  Where is your database?

[2019-01-31 14:13] whositwhatnow opened #1066 "Weird issue with validate button"
nbgrader                     0.5.3
jupyterhub                   0.8.0b3

Strangest bug with the validate button.

Here is an example, but the principle applies to other cells
The question is find how many characters are in the file “opsin.txt”
Its a really simple question:

AA_count = len(open("opsin.txt").read())
print(AA_count)

When you run validate on the NB you get this validation error:

Nam

[2019-02-04 23:18] ttimbers commented on #883
I am using the following versions of things:

[code]

And when I run `nbgrader validate NOTEBOOK` I get an error, with a useful error message that suggests I run `nbgrader update NOTEBOOK`. However, when I run that, I get a not very helpful error message:

[code]

I'm a bit stuck. I'd be happy if I could even strip the meta-data and recreate the assignment (although updating the meta data would be

[2019-02-07 09:58] KVSSetty commented on #1048
I am also facing same error -formgarder page not found error and assignments load forever.
things i did
setup jupyterhub on a GCP,
working fine, able to add users and they are able to create their nb's.
I made an attempt to install the nbgrader as per the docs.
disabled the create assignment for others and enabled for me only , and it is acting correctly also.
but ,the formgrader page when clicked

[2019-02-08 15:18] billzhonggz commented on #971
I just solved this problem by following the official document [here](https://nbgrader.readthedocs.io/en/stable/configuration/jupyterhub_config.html). The instruction comes from the following text:

You can try this. It work fine for me after I point the course path locates in my home directory, e.g. `/home/user_name/course_id`.

[2019-02-08 17:00] i02momuj commented on #971
Thank you very much for your responses.

Finally, as I read in other thread of people with similar problems, it was a problem of permissions. I was able to solve it by adding permissions to the log file `.nbgrader.log` inside a course.

For example in my case, I was creating a linux user for each different course in nbgrader. So, let be `course` the name of the user and also the name of the given

[2019-02-16 06:22] DSqiansun opened #1067 "nbgrader with the-littlest-jupyterhub: Can't use formgrader for release and collect assignment."
Hello,

I followed the tuto https://tljh.jupyter.org/en/latest/install/amazon.html, and installed  the-littlest-jupyterhub in AWS EC2. Then I installed nbgrader in jupyterhub terminal. But the courses can't be released

### Operating system
Ubuntu 18.4
### `nbgrader --version`
nbgrader version 0.5.5
### `jupyterhub --version` (the littlest JupyterHub)
0.9.4
### `jupyter notebook --version`
5.7.0
#

[2019-02-19 02:21] ianalis opened #1068 "Running nbgrader as an external service"
I want to deploy nbgrader for multiple classes with multiple graders. According to the [documentation](https://nbgrader.readthedocs.io/en/latest/configuration/jupyterhub_config.html), I should create a shared notebook server in order to do that. Since my deployment runs on top of kubernetes, I need to make it an external service rather than a managed one.

Now, looking at the [example code](https:

[2019-02-21 22:46] andrew-cui opened #1069 "Editing test cases for grading"
### Operating system
Mac OS X 10.14.3, running on an AWS EC2 instance

### `nbgrader --version`
0.5.4

### `jupyterhub --version` (if used with JupyterHub)
0.9.4

### `jupyter notebook --version`
5.7.4

### Expected behavior
After releasing homework, decided to make the test cases more permissive (such as increasing margin of error) and changed a typo. Did this on the source directory in our EC2,

[2019-02-25 00:00] scott2b commented on #1009
This seems to have been closed without resolution. Could we get a resolution that includes a minimal config file, where to put it, and what the permissions should be set to? Or a pointer to the relevant part of the docs? As far as I can tell the docs do not answer these questions.

[2019-02-28 17:12] sigurdurb commented on #1062
How are you managing nbgrader to communicate with Jupyterhub, as per the shared file system thing for example?

Maybe [this pull request on dockerspawner](https://github.com/jupyterhub/jupyterhub-deploy-teaching/pull/99) on the Jupyterhub-deploy-teaching repo could help you on your path.

[2019-03-04 11:17] bennomeier opened #1070 "The autograder does not render plots at all."
First of all a huge thank you for nbgrader, it is incredibly useful!

I have a problem with manually grading plots (created with matplotlib.pyplot): They don't show at all in the autograded notebooks. So I have to open each notebook, run the students' code and then put the mark in the autograded notebook. This workflow is ok for me, but the students will not see their actual plot in the feedback,

[2019-03-04 16:57] rkdarst commented on #483
I wrote a wrapper script to run a kernel (only) in a docker container.  This should be suitable for autograding securely,  but is alpha (seems like it should work but probably deserves a rewrite).

https://github.com/AaltoScienceIT/jupyter-docker-kernel

Usage:

Install the new kernel with the name `python3secure`, using the given image:
[code]

Run autograding using this new kernel:
[code]

There

[2019-03-07 12:04] bennomeier commented on #1070
This is not an issue if
%matplotlib inline

is included in the notebooks.

But note that this line is not required to show plots inline, at least not with the version of Jupyter / Anaconda the students were using.

[2019-03-07 14:52] mkempenaar commented on #1067
Hi,

I have the exact same issue and no proper solution, yet. However, what I did do (and still testing this out) is to login JupyterHub as an admin user, open a terminal, and use `nbgrader` from the console. Everything you want to do is doable through the terminal and if I create an assignment (the basic example one (using `nbgrader quickstart`).

If I then perform the `assign` and `release` task

[2019-03-11 08:43] rgerkin commented on #978
@jhamrick To have even this level of security, the inbound directory should have 773 permissions (no regular users listing files; submissions that need to be shown in the assignments tab can be read from the database) and the outbound should have 775 (regular users shouldn't be writing random new assignments).  Is that right?

[2019-03-11 08:51] rgerkin opened #1072 "Better document how to setup multiple nbgrader_config.py files in JupyterHub"
### `nbgrader --version`
0.5.5

### `jupyterhub --version` (if used with JupyterHub)
0.9.4

### `jupyter notebook --version`
5.7.4

### Expected behavior
Assignment listing tab should use my `nbgrader_config.py`, and not try to use the default exchange directory.

### Actual behavior
Assignment listing tab doesn't use my `nbgrader_config.py`, and does use the default exchange directory.  Formgrade

[2019-03-11 08:53] rkdarst commented on #978
Exactly.  It should done automatically if nbgrader creates the exchange dirs.  (But it also makes it 733 and 755 by default I think, assuming groups are not for instructors).

[2019-03-11 18:00] soldis opened #1073 "nbgrader does not work with SQLAlchemy 1.3"
### Operating system
4.15.0-29-generic #31-Ubuntu SMP Tue Jul 17 15:39:52 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

### `nbgrader --version`
Python version 3.6.7 (default, Oct 22 2018, 11:32:17)
[GCC 8.2.0]
nbgrader version 0.5.5

### `jupyterhub --version` (if used with JupyterHub)
0.9.4

### `jupyter notebook --version`
5.7.6

### Expected behavior
autograding, manual grading and watching submiss

[2019-03-12 22:10] rgerkin opened #1074 "Placing solution delimiters around a subset of one line of code"
My students have so little programming experience that I would like to have code blocks that look sort of like this:
[code]
where their job is to replace `...` with `1`.  I'm not sure how to do that since there is some expectation that the solution delimiters be able to stand on their own, i.e. as comments on a separate line.  The only way around this that I can think of is really crazy, something

[2019-03-13 11:59] andrew-cui commented on #1069
Workaround:

nbgrader db assignment remove
nbgrader db assignment add
nbgrader assign
nbgrader release

[2019-03-13 11:59] #1069 closed

[2019-03-18 16:31] lwasser commented on #974
hey @jhamrick  we are interested in potentially working on this partial credit item (pinging @kcranston) . would you be open to a PR with this functionality down the road? and if so, can you tell us a bit about your preferred workflow for pr's ??

[2019-03-20 10:09] r96941046 opened #1076 "Links and validate buttons don't work in the assignment list UI"
### Operating system
Ubuntu 16.04.5 LTS

### `nbgrader --version`
0.5.4

### `jupyterhub --version` (if used with JupyterHub)
0.9.4

### `jupyter notebook --version`
5.5.0

### Expected behavior
When accessing notebooks in fetched assignment from the assignment list, user should be directed to the notebook. User should be able to validate notebooks using the validate button in the assignment list

[2019-03-20 10:16] jaspervdh96 commented on #1070
Why not put '%matplotlib inline' in a Read-Only Cell, so you are sure it will be in it? Or add that in a read only cell after you already released? Then they won't see it and won't get confused.

[2019-03-20 14:36] thiippal opened #1077 "Autograde fails due to missing regex match"
### Operating system
macOS 10.12.6 (Sierra)

### `nbgrader --version`
`nbgrader version 0.5.5`

### `jupyter notebook --version`
`5.7.4`

### Expected behavior

I have submissions from my students in separate folders in `submitted/assignment_id/student_id/exercise_1.ipynb`. The directory is under the working directory, as expected, and I can see the students and their submitted assignments in form

[2019-03-21 21:08] bennomeier commented on #1070
Yes, this is a good workaround. I'll close this issue.

[2019-03-21 21:08] #1070 closed

[2019-03-22 08:12] thiippal commented on #1077
Alright, I've identified my error and will document it here in case someone else is repeating my mistake.

I had modified the following line in my `nbgrader_config.py` to reflect the changes I made to the directory structure for student work:

`c.CourseDirectory.directory_structure = '{nbgrader_step}/{assignment_id}/{student_id}/'`

The error was caused by the final slash. Changing the line to the

[2019-03-22 08:12] #1077 closed

[2019-04-01 21:54] leonsp commented on #1063
I second this question.

[2019-04-03 06:04] sebhoa commented on #1009
I use jupyter notebook standalone... I'm not sure to understand how to create 'course'... I run my jupyter server in a standard directory : `/Users/seb/my_courses/` But when I click Formgrader menu the `Manage Assignments` window appear but with the warning message:

And I can create assignment, not course. So ?

[2019-04-07 09:57] alphadevuser commented on #1030
Hi. Does nbgrader support multiple courses now ? I am interested in integrating nbgrader with JupytrHub such that a single installation of JupyterHub can support multiple courses and multiple instrcutors.

[2019-04-10 10:07] sigurdurb commented on #1030
@alphadevuser One way of having multiple instructors is just by allowing them access to the service where you are running the course from. As for multiple courses for each student I am already working on #1040 . Let me know if you are going to work on it, I have not taken the time to refactor it and test in some time, fresh eyes are always welcome.

[2019-04-11 05:23] alphadevuser commented on #1030
Hi @sigurdurb ! Thanks for the response. I am working on a personal project, and unfortunately won't be able to dedicate time on this codebase.
I really appreciate the effort you are putting in. Hopefully, I would be able to contribute soon.

Question on #1040 : This doesn't seem support the functionality to create courses on the fly. I mean you can add a new course when starting the jupyterhub se

[2019-04-11 08:11] perllaghu commented on #1030
There's a workshop coming up in Edinburgh soon.... and I'm hoping we can address this.

It ties in with using LTI connections, with department-/campus-wide jupyterhub installations, and with a couple of other issues

[2019-04-16 17:29] rmjarvis commented on #997
+1 to requesting a fix for this.

I'm finding it annoying that Jupyter keeps dropping these .nbgrader.log files everywhere I open a Jupyter session.  I tried setting `c.NbGrader.logfile` to a location in my root directory in `.jupyter/nbgrader_config.py`, but it doesn't work.

Even better would be to have an option to turn off nbgrader logging entirely if that's also on the table.

[2019-05-01 14:30] kcranston opened #1078 "quickstart help flag not implemented"
### Operating system
OS X 10.14.3

### `nbgrader --version`
nbgrader version 0.6.0.dev

### `jupyterhub --version` (if used with JupyterHub)
n/a

### `jupyter notebook --version`
5.7.8

### Expected behavior
As shown in the [docs](https://nbgrader.readthedocs.io/en/stable/user_guide/installation.html#quick-start), `nbgrader quickstart -help` should provide help on the quickstart feature.

### Actu

[2019-05-05 18:13] jhamrick opened #1079 "Edinburgh hackathon"
This is an issue to collect suggestions/ideas to work on during the nbgrader hackathon in Edinburgh from May 29-31.

[2019-05-05 19:23] perllaghu commented on #1079
Some thoughts from an Edinburgh coder (as these are things that affect the environment we have):

- Consider use when authentication comes from an LTI [https://www.imsglobal.org/basic-overview-how-lti-works] connection
    - Multiple Courses (ref: PR #1040) v's Support for multiple classes via Jupyterhub groups (PR #893)
    - Users/Courses not in the database at startup

- Multiple graders for on

[2019-05-06 03:38] rkdarst commented on #1079
I just saw this; I didn't know there was a nbgrader hackathon coming up.  I couldn't have gone anyway, but is it still open for others to come?  I'll have some people working with me this summer, who will probably devote some amount of time to nbgrader.

A professor here who has used nbgrader extensively made a wishlist, which I have added some of my items to.  It could be relevant here: [nbgrader

[2019-05-06 08:03] perllaghu commented on #1079
I've pulled @rkdarst's list into here:

**Assignment deadlines**
* The students do not see the deadlines of the assignments. It would be nice to show the deadline (maybe in the Assignment tab).
* Now the deadline (in Formgrader tab in the instructor view) is set and displayed in UTC. This is very inconvenient. It would be nice to have the deadline in local time.

**Where to solve assignments**
* I

[2019-05-06 08:12] perllaghu commented on #1079
@rkdarst - two thoughts relating to _Where to solve assignments_

1. Have you looked at BinderHub (https://github.com/jupyterhub/binderhub)
1. We [Edina] are working on an exchange service (mostly because we're running in a multi-node Cluster)

The point in _Feedback_ is also well made, and something we're also interested in seeing taken forward

[2019-05-06 13:59] jamesaslack commented on #1079
@rkdarst - We do still have some of the budget left if there are others that you may be able to recommend. Feel free to pass my contact email on to your colleagues : james.slack@ed.ac.uk

We are really looking for those who have a good functional understanding of Jupyter and nbgrader to be able to contribute to the hackathon

[2019-05-07 08:06] mhwasil commented on #1073
I faced the same problem, installing sqlalchemy-1.2.18 solved the problem.

[2019-05-08 17:33] kcranston commented on #974
As I think about this more, I think it is less error-prone for the cell to return the number of points, rather than the fraction of points, i.e. return a number greater than or equal to 0 rather than a number between 0 and 1. The reason is that returning the fraction requires that the instructor include the maximum number of points in two places - in the cell metadata and in the cell body (to be a

[2019-05-09 06:01] rkdarst commented on #483
This is a newer version of my isolation script.  It's more easily generalizeable to other isolation systems:
  https://github.com/AaltoScienceIT/envkernel

but the docs don't explain nbgrader specifically (and it's not just for docker/singularity), other types of adjusted environments can be set.  In general I need to update the docs more.

[2019-05-10 07:33] rkdarst commented on #1079
@perllaghu, I know of BinderHub (and colab, and our other own local services). In fact, one teacher here suggested that students download notebooks and take them to these services for training, before uploading them again.

For our exchange, we have a NFS share which holds all course and user data, so we can seamlessly scale to multiple nodes (we have six now).

[2019-05-10 07:35] rkdarst commented on #1079
I haven't yet found anyone who can make it, but would like to offer a presentation about our setup because it is quite different than the typical use case I see.

[2019-05-11 04:33] willingc opened #1081 "Add webhook for RTD builds"
@jhamrick For the docs to build, we need to add a webhook to the RTD site.

If you add me as a maintainer on the RTD site, I can set it up. Thanks!

[2019-05-11 14:37] jhamrick commented on #1081
Done, thanks Carol!

[2019-05-11 15:16] willingc commented on #1081
Done. Thanks Jess 💐

[2019-05-11 15:16] #1081 closed

[2019-05-12 15:20] jhamrick opened #1082 "Deprecate support for python 2"
Given that official support Python 2 will be ending in 2020, I think it makes sense to remove support for Python 2 from nbgrader as well in the next major release (maybe 0.6.0?).

I am opening this issue to have a discussion about this if others disagree, and otherwise to discuss a timeline.

[2019-05-12 15:37] perllaghu commented on #1082
Jupyter stopped supporting P2 in 2018...

On Sun, 12 May 2019, 4:20 pm Jessica B. Hamrick, <notifications@github.com>
wrote:

[2019-05-12 15:43] jhamrick commented on #1058
Unfortunately I can't replicate the install issues, but if someone can give me a set of instructions to follow to replicate than I can try to look into it further.

[2019-05-12 15:53] jhamrick commented on #916
Hmm, can you provide an example notebook that causes this issue, and paste the exact error output? This probably shouldn't be an issue unless you're using nbgrader notebooks that are several years old (e.g. from 2015 or so), which is possible though not too many people were using nbgrader then 😄so I think it's also possible it could be something else that gives a similar error.

[2019-05-12 16:03] jhamrick commented on #1065
I think the place where the URL is getting overwritten is here: https://github.com/jupyter/nbgrader/blob/master/nbgrader/server_extensions/formgrader/static/js/formgrade.js#L126

which is called here: https://github.com/jupyter/nbgrader/blob/master/nbgrader/server_extensions/formgrader/static/js/formgrade.js#L272

This is used by the formgrader to keep track of which field is currently selected, s

[2019-05-12 16:06] jhamrick commented on #1066
Hmm, I'm not sure why this would be, but without further information (e.g. the notebook in which this occurs) I can't really provide much help. Can you provide a copy of the notebook that has this problem, and a set of instructions to follow to reproduce the problem?

[2019-05-12 16:08] jhamrick commented on #883
@ttimbers Would you mind opening a new issue for this problem, and attach a the notebook that's causing problems? That would help us be able to debug this further---thanks!

[2019-05-12 16:12] jhamrick commented on #1068
Hi @ianalis , I have not been using JupyterHub as much recently so I'm unfortunately not really sure of the answers to your questions---I'd recommend asking these in the JupyterHub repo where hopefully others can be of more help!

[2019-05-12 16:13] jhamrick commented on #1068
I am going to close this since it's more a question about JupyterHub than nbgrader, but if you have any issues setting up nbgrader specifically feel free to open a new issue specific to that!

[2019-05-12 16:13] #1068 closed

[2019-05-12 16:17] jhamrick commented on #1062
Were you able to figure out the issue here? My guess is that what's happening is that the `.pip` folder is owned by the `jupyter` user but you're trying to install nbgrader under the `root` user, which causes issues. You could try:

1. `chown -R` the `.pip` folder to root before installing nbgrader, and then `chown -R` it back
2. Install nbgrader with the `jupyter` user

Probably the second option

[2019-05-12 16:35] jhamrick commented on #1072
So just to clarify, the `~/.jupyter/nbgrader_config.py` does not contain the path for the exchange directory? If you add that config option to that file, does it work then? (It seems to work when I do this, but not when I have the exchange only in the course directory).

For now I hope that can fix it, but there could definitely be a bit more clever loading of configs here such that the `nbgrader_

[2019-05-12 16:38] jhamrick commented on #978
Yes, exactly--and this is indeed something that's set by nbgrader automatically.

[2019-05-12 16:44] jhamrick commented on #1074
Hmm, good question. (Have you tested using the config above? I'd be surprised actually if that works, since you're right that the assumption is that the solution is always at least one full line)

Unfortunately, I don't think there's an elegant way to do what you want at the moment, but I think it could be a nice feature to have a different set of solution delimiters that can deal with single line

[2019-05-12 16:46] jhamrick commented on #1069
For future reference, I think you can do this without needing to explicitly remove the assignment from the database:

[code]

You also shouldn't need to re-release it (that only sends the assignments to students, and they do not see the hidden tests anyway).

[2019-05-12 17:19] jhamrick commented on #1076
Hmm, unfortunately I'm not able to replicate this with the information you've provided---could you provide some more detailed steps to reproduce the problem (including the exact contents of the nbgrader_config.py files?)

[2019-05-12 17:22] jhamrick commented on #1063
Unfortunately at the moment JupyterLab support is not yet available.

[2019-05-12 17:28] jhamrick commented on #1009
The exact setup differs depending on your use case, but please see here for several example setups: https://nbgrader.readthedocs.io/en/master/configuration/jupyterhub_config.html

Please feel free to open a new issue with specific details about your particular use case and setup if you are still having problems.

[2019-05-12 17:39] jhamrick commented on #997
Yes, I agree it would be nice to additionally have a way to detect whether nbgrader itself is actually being used, and only create a logfile if it's actually necessary (though it's not obvious to me how to do this, unfortunately).

I think the best options in the near term are:

1. Have nbgrader by default log only to a single location (e.g. `~/Library/Jupyter/nbgrader.log`) so it doesn't by defau

[2019-05-12 17:41] jhamrick commented on #1078
Hmm, it seems to work fine for me to type `nbgrader quickstart --help`. Is it possible your terminal is autocorrecting `--` to `–` (which is the character you pasted in the issue)?

[2019-05-12 17:42] jhamrick commented on #1078
Oh! Actually, it's the docs that have the character. Sorry about that--they should indeed be amended.

[2019-05-12 17:45] jhamrick commented on #1078
Ah, this has actually already been fixed in the version of the docs at head:

https://nbgrader.readthedocs.io/en/master/user_guide/installation.html#quick-start

[2019-05-12 17:46] jhamrick commented on #1078
Thanks for reporting---hopefully I'll get 0.6.0 released soon and then the stable docs will get updated with the fix!

[2019-05-12 17:46] #1078 closed

[2019-05-12 17:47] jhamrick commented on #1073
Thanks for reporting this!

[2019-05-12 17:52] jhamrick commented on #974
Yeah, the issue with having the points be mismatched is I think why I was originally thinking about having it be between 0 and 1, but I see the annoyance in having to specify the maximum number of points twice, too.

I guess if the instructor is using the validate script to test their solutions, and we check for the number of points being less than the maximum, then it shouldn't be too much of a p

[2019-05-12 17:58] jhamrick commented on #483
This looks really awesome! Though I guess there's probably some additional work that needs to be done if you need to mount other files that are not in the working directory? Still, as long as it works with simple assignments out of the box, that's really excellent. I haven't personally tested it yet but I'll try to play around with it soon.

It would be great to see how this goes with other course

[2019-05-12 18:03] jhamrick commented on #1082
Well, Jupyter itself no longer supports running Python 2, but it still can run Python 2 kernels. Since that's the case, I decided to keep py2 support a bit longer with nbgrader because there are certainly instructors still using python 2 kernels. But I think it makes sense now to deprecate support if even Python doesn't officially support it.

[2019-05-12 18:14] jhamrick commented on #1079
Here is also a link to a discussion the Jupyter Discourse Forum: https://discourse.jupyter.org/t/jupyter-nbgrader-hackathon-topics/1040/5

[2019-05-12 20:06] rkdarst opened #1083 "Duplicating cells results in autograding failure because of dulplicate IDs, and confusing error message"
This is similar to #981, as in that may solve the problem, but I'll document core problem here and a workaround.

Students have submitted notebooks in which they have copied cells.  This duplicates the metadata: of importance here is `"nbgrader": {"grade_id": ...}`.  When this happens, the following error message is given:

[code]

The first warning is the key to the problem.  However, the error m

[2019-05-12 21:19] rkdarst commented on #483
Yes, other files may need to be mounted inside, but envkernel can do that.  It can pass through any needed options.  Here is initial docs - actually yesterday I did my very first successful isolated autograding!  I used Singularity instead of Docker.

Create the isolated kernel.  This makes a new Jupyter kernel (`envkernel singularity` means singularity create mode) named `testcourse-0.5.9` out of

[2019-05-12 21:39] jhamrick commented on #1083
Hmm, I am pretty sure it was the case that in the notebook when you copy a cell it does not copy the metadata. Are your students by chance either using JupyterLab (which I think may not implement this feature), or a very old version of the notebook? It's also possible there's been a regression.

In any case, I agree it would be nice if nbgrader handled this more gracefully. Certainly the error mes

[2019-05-12 21:41] #822 closed

[2019-05-12 22:17] rkdarst commented on #1083
In our provided hub, courses use Notebook by default (5.7.2 it seems we are using now).  But Lab is available, and the way to switch between them is documented but not.  One previous course also instructed their students to download notebooks and move them to another service for actually doing the assignments - who knows what errors could be inserted in this process!

I'm not an instructor and don

[2019-05-12 22:21] jhamrick commented on #1073
Should be fixed by #1080

[2019-05-12 22:21] #1073 closed

[2019-05-12 22:21] jhamrick commented on #1079
FYI, I've created the Edinburgh-Hackathon label and will be tagging issues/PRs with that to make it easier to track what people want to work on. If you'd like me to tag an issue with it please comment here or on the discussion thread with the issue number and I'll go ahead and tag it!

[2019-05-12 22:26] jhamrick opened #1085 "Deprecate support for python 3.4"
Python 3.4 has also reached end-of-life, so this is a reminder to remove it from the CI tests and in setup.py.

[2019-05-12 22:35] jhamrick commented on #1034
If I understand the issue correctly, I think the problem is that your files need to be owned by the user that's running the shared notebook server. The idea is that multiple users will be able to log into the nbgrader service, but the service itself owns the files. See here for an example: https://nbgrader.readthedocs.io/en/master/configuration/jupyterhub_config.html#example-use-case-one-class-mul

[2019-05-12 22:36] jhamrick commented on #1048
Since there seems to be a few separate problems on this issue, and not enough information to debug all of them and no activity in a while, I'm going to go ahead and close this. However, please feel free to open a new issue if you have further questions!

[2019-05-12 22:36] #1048 closed

[2019-05-12 22:46] jhamrick commented on #483
FYI @nthiery you might be interested in this too!

[2019-05-12 22:50] jhamrick commented on #1083
Hmm, I would expect your version of the notebook is new enough (it's a *really* old version that doesn't support it). Maybe they're using JupyterLab or maybe there's been a regression 😕

Regarding your last question, the answer depends on the cell type I think... for read-only cells (including cells with tests in them) this is the intended behavior in case students manage to edit them somehow, and

[2019-05-12 23:16] rgerkin commented on #1072
My memory is vague on this now, but I think that is right, and I didn't put the exchange directory in each user's nbgrader_config.py, perhaps because I was trying to obfuscate it from mischievous students.  Thinking about this now, this seems like a low priority, so you can probably close this issue.

[2019-05-12 23:19] rgerkin commented on #1074
I haven't tested it, but I can't imagine actually using something like that in production.  I think I'll wait until there is a more robust option for one-liners.

Also, I deployed nbgrader for my class mid-semester and it pretty much worked without a hitch (except for students who renamed their notebooks for no reason), so thank you for developing this wonderful tool!

[2019-05-13 01:30] yoonghm commented on #1058
I close this now as it is not relevant anymore for new version. Thanks.

[2019-05-13 01:30] #1058 closed

[2019-05-13 06:23] nthiery commented on #483
Oh yes! Thanks for the pointer. I'd be happy to sprint on this with you in Edinburgh!

[2019-05-13 08:09] jhamrick commented on #1072
I think I'll actually keep it open as a reminder to sort out the config loading and make it more intuitive---but glad you were able to sort it out for your class this term!

[2019-05-13 08:11] jhamrick commented on #1074
Thanks for the kind words 😄 I'm really glad it's been working out well for you!

[2019-05-13 15:08] lwasser commented on #974
i think support JSON output would be pretty great. it would allow us to build out some additional functionality including custom error messages potentially.

[2019-05-13 22:17] ttimbers commented on #883
This is one example:

[worksheet_08.zip](https://github.com/jupyter/nbgrader/files/3175040/worksheet_08.zip)

[2019-05-13 22:21] ttimbers commented on #883
I can confirm that using find and replace to change the schema version from 3 to 2 manually fixes the problem...

Another weird meta-data issue is that if I try to solve the problem that way, I then get this error:

[code]

Which I can then solve by deleting all lines that have `'task': False` in them (while at the same time keeping the JSON formatting).

[2019-05-13 22:25] jhamrick commented on #883
Ah thanks, this helps a lot! I think this is a separate issue than this one we're discussing on, and was introduced by a recent change (possibly #984 but I need to investigate more). Can you open a new issue thread to track this?

[2019-05-13 22:48] ttimbers opened #1086 "schema and task meta-data not being dealt with properly via update"
I am using the following versions of things:

[code]

And when I run `nbgrader validate NOTEBOOK` I get an error, with a useful error message that suggests I run `nbgrader update NOTEBOOK`. However, when I run that, I get a not very helpful error message:

[code]

I'm a bit stuck. I'd be happy if I could even strip the meta-data and recreate the assignment (although updating the meta data would be

[2019-05-13 22:48] ttimbers commented on #1086
This is one example of a "broken" notebook:

[worksheet_08.zip](https://github.com/jupyter/nbgrader/files/3175040/worksheet_08.zip)

[2019-05-13 22:49] ttimbers commented on #1086
I can confirm that using find and replace to change the schema version from 3 to 2 manually fixes the problem...

Another weird meta-data issue is that if I try to solve the problem that way, I then get this error:

[code]

Which I can then solve by deleting all lines that have `'task': False` in them (while at the same time keeping the JSON formatting).

*note - the above was copied over from #88

[2019-05-13 22:49] ttimbers commented on #883
ok, opened #1086

[2019-05-13 23:22] jhamrick commented on #883
Thanks!

On Mon, May 13, 2019, 11:49 PM Tiffany A. Timbers <notifications@github.com>
wrote:

[2019-05-13 23:24] jhamrick commented on #1086
Thanks for opening the new issue! I'll try to have a look at this in the next few days.

[2019-05-14 17:56] jnak12 commented on #1034
"course" is the account that has all the course information in it.
I did an htop and there is a process owned by "course" that
has jupyterhub-singleuser --group=shared --debug
which matches the above jupyterhub_config.py file.
All the files are owned by "course".

I logged into another account ("stud1") that is part of the "shared" group and noticed that
when i click on the Formgrader tab, the URL

[2019-05-15 12:46] javoha opened #1087 "Notebooks for manual grading are not rendered properly"
Hello and thanks for creating nbgrader. I am new to it and hope you can help me with the following problem.

### Operating system
Windows 10

### `nbgrader --version`
0.5.5

### `jupyterhub --version` (if used with JupyterHub)
not used on jupyterhub

### `jupyter notebook --version`
5.7.8

### Expected behavior
Rendered notebooks in manual grading should be displayed properly (Cells stacked vertic

[2019-05-17 17:37] psychemedia commented on #1079
My use case is for feedback and grading system in a distance education setting where there are ~350 students and 15 markers, with equal numbers of scripts each.

Notebooks for marking are generally templated but with students free to split cells. Our requirements include:

- support for attaching manual marks;
- support for providing on script feedback that can be easily identified.

The workflow

[2019-05-21 20:11] jhamrick commented on #1034
Thanks for the response, that helps clarify things for me! So it sounds like you've installed the formgrader extension for the other accounts (e.g. `stud1`) and are trying to access the formgrader using the tab that appears in the notebook list---is that correct?

If so, then the reason things aren't working properly is because that's not how the formgrader is meant to be accessed in the case wher

[2019-05-21 20:14] #799 closed

[2019-05-21 20:22] jhamrick commented on #1087
Hmm, very strange. Unfortunately I'm not able to reproduce this so will need a bit more information to try to track this down:

1. Could you try using the version of nbgrader on master and see if it is still a problem?
2. If not, can you run `jupyter nbconvert --version` and paste the output here?
3. Also, what browser are you using? Can you try a different browser and let me know if it's a proble

[2019-05-21 20:53] jhamrick opened #1089 "Generated config files do not include all options"
Here is a config file that I just generated using `nbgrader generate_config`, which is missing options for a lot of parts of nbgrader like various preprocessors:

[code]

[2019-05-21 20:58] Sefriol commented on #1087
We are currently running a Machine Learning course were this actually happens too. For us, we can also see the same rendering error for instructor version in Github, so it might not be an uncommon problem.

Do you also see this rendering error in Github @javoha ?

Currently we have just distributed the feedback for this round, but I'm unsure how much of the notebook we are going to reuse next year

[2019-05-21 21:04] jhamrick commented on #1087
Yeah, I suspect the problem may lie with nbconvert rather than nbgrader itself.

It sounds like you are seeing this for some notebooks but not others (based on your comment about it being the notebook comments causing the issue)? If so, then having a notebook that causes the problem would be very useful indeed!

[2019-05-21 21:17] jhamrick commented on #1086
Hmm, I can't seem to replicate the issue with this particular notebook---is it possible you sent me the version after you had fixed the metadata manually?

[code]

Otherwise, it sounds like potentially what is happening is that you created the notebook using a newer version of nbgrader and are now trying to validate it with a slightly older version of nbgrader, since it's complaining about the nbg

[2019-05-21 21:20] jhamrick commented on #1086
Oh, I guess you did already provide the nbgrader version (0.6.0.dev), so nevermind about that question.

It does sound to me though like you're somehow using two different versions. Can you try ensuring that you've upgraded nbgrader to the most recent version on master?

[2019-05-21 21:49] Sefriol commented on #1087
@jhamrick I'll shared the repository for you, for now.

https://github.com/Sefriol/MOOC-ML/blob/master/source/R2_Regression/Round%202%20-%20Regression.ipynb

Here you can see the error in Github. Same can be seen in the feedback form / manual grading part.

[2019-05-22 07:50] javoha commented on #1087
@jhamrick Thanks for looking into it.

The nbconverter version is `5.4.1`. I tried it in Mozilla Firefox and Google Chrome, both showed the same result. I will check if using the nbgrader master version behaves differently.

[2019-05-22 13:20] jnak12 commented on #1034
SUCCESS!
Yes i did install formgrader in the stud1 account.
The key piece of info was to put  /services/<name of the service> at the end of the
login URL (e.g. https://URL/services/shared_notebook in my case).
Once I did that, everything worked fine
Thanks.

[2019-05-23 11:24] gertingold commented on #483
After application of PR NordicHPC/envkernel#1 to ``envkernel``, I succeeded in doing grading with a kernel running in a docker container. The required information can basically be found in the preceding discussion and the README at https://github.com/NordicHPC/envkernel. If there is interest in a coherent write-up, I can offer to work on it. Thanks a lot to @rkdarst for providing ``envkernel``.

[2019-05-23 16:34] ttimbers commented on #1086
Yes, I am using nbgrader version (0.6.0.dev)... Now we have moved to developing in a container, and using that same container for grading, but I think it would still be good in general to have nbgrader to either be more robust when updating, and/or have a function that strips a old nbgrader version notebook of all nbgrader meta-data so that it can be converted manually to a more recent version (ob

[2019-05-23 17:05] jhamrick commented on #1086
Based on the error message you got, I think the issue is the other way around: you were trying to validate a notebook that had a newer version (version 3) than what nbgrader knew how to deal with (version 2). There's unfortunately not a good way to have older versions of nbgrader know what to do with newer versions, but I could modify the error message informing the user they need to upgrade their